
<script type="text/javascript">

      
            if($("#staffid").val()!='all'){
                var title = "Overall Leave Summary";
            }
            if($("#staffid").val()!='all'){
                var title = "Individual Leave Summary";
            }
            var params = 
            {
                bgcolor:"#FFFFFF"
            };
            
            var flashVars = 
            {
                path: "/js/amcharts/flash/",
                
                /* in most cases settings and data are loaded from files, but, as this require
                 all the files to be upladed to web server, we use inline data and settings here.*/
                 
                // settings_file: "../sampleData/column_settings.xml",
                // data_file: "../sampleData/column_data.xml"
                
                chart_data:"<?php echo $this->allLeaves;?>",
                chart_settings: "<settings><data_type>csv</data_type><plot_area><margins><left>50</left><right>40</right><top>50</top><bottom>50</bottom></margins></plot_area><grid><category><dashed>1</dashed><dash_length>4</dash_length></category><value><dashed>1</dashed><dash_length>4</dash_length></value></grid><axes><category><width>1</width><color>E7E7E7</color></category><value><width>1</width><color>E7E7E7</color></value></axes><values><value><min>0</min></value></values><legend><enabled>0</enabled></legend><angle>0</angle><column><width>85</width><balloon_text>{title}: {value} Leave</balloon_text><grow_time>3</grow_time><sequenced_grow>1</sequenced_grow></column><graphs><graph gid='0'><title>Medical</title><color>ADD981</color></graph><graph gid='1'><title>Annual</title><color>7F8DA9</color></graph><graph gid='2'><title>Casual</title><color>FEC514</color></graph></graphs><labels><label lid='0'><text><![CDATA[<b>"+title+"</b>]]></text><y>18</y><text_color>000000</text_color><text_size>13</text_size><align>center</align></label></labels></settings>"
            };
            
            window.onload = function()
            {
                // change == to != to test flash version
                if(AmCharts.recommended() == "js")
                {
                    var amFallback = new AmCharts.AmFallback();
                    // amFallback.settingsFile = flashVars.settings_file;  		// doesn't support multiple settings files or additional_chart_settins as flash does
                    // amFallback.dataFile = flashVars.data_file;
                    amFallback.chartSettings = flashVars.chart_settings;
                    amFallback.pathToImages = "/js/amcharts/javascript/images/";
                    amFallback.chartData = flashVars.chart_data;
                    amFallback.type = "column";
                    amFallback.write("chartdiv");
                }
                else
                {
                    swfobject.embedSWF("/js/amcharts/flash/amcolumn.swf", "chartdiv", "600", "400", "8.0.0", "/js/amcharts/flash/expressInstall.swf", flashVars, params);
                }
                
            }
            

        
  </script>
 <div id="chartdiv" style="width:600px; height:400px; background-color:#FFFFFF"></div>    
   <br/>
