<h1>Completed Projects Report</h1>
<div id="report">
<br/>
<table>
    <thead>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Project Progress Cycle</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Evaluation Comment</th>
    </thead>
    <tbody>
        <?php foreach($this->projects as $project):?>
        <tr>
            <td><?=$project['title'];?></td>
            <td><?=$project['desc'];?></td>
            <td><?php echo ($project['progress_cycle']==1)?$project['progress_cycle']." Day":$project['progress_cycle']." Days";?></td>
            <td><?=$project['start_date'];?></td>
            <td><?=$project['end_date'];?></td>
            <td><?php echo isset($project['comment'])?$project['comment']:"No Comments Added";?></td>
        </tr>
        <?php endforeach;?>
    </tbody>
        
</table>
</div>
<div id="export" style="display:none">
    <a href="/report/createpdf/name/projectreports" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>
<script type="text/javascript">
$(document).ready(function(){
    createSession();
})
    var  createSession = function(){
        
        var select = $("#report").html();
        var title="Completed Projects Report";
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }        
    
</script>    