
<h1>Delayed Project's Report</h1>


<br/>

<table>
    <thead>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Project Progress Cycle</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Completion</th>
    </thead>
    <tbody>
        <?php foreach($this->projects as $project):?>
        <tr>
            <td><?=$project['title'];?></td>
            <td><?=$project['desc'];?></td>
            <td><?php echo ($project['progress_cycle']==1)?$project['progress_cycle']." Day":$project['progress_cycle']." Days";?></td>
            <td><?=$project['start_date'];?></td>
            <td><?=$project['end_date'];?></td>           
            <td><?=$project['status'];?>%</td>
        </tr>
        <?php endforeach;?>
    </tbody>
        
</table>
    
    