<ul>
	<li><a href="/report/userlist">Staff List Summery</a></li>
	<li><a href="/report/leavereports">Leave Reports</a></li>
	<li><a href="/report/trainingschedule">Training Schedule Report</a></li>
	<li><a href="/report/performance">Performance Reports</a></li>
	<li><a href="/report/salaryreport">Salary Review Reports</a></li>
	<li><a href="/report/projectreports">Project Progress Reports</a></li>
        <li><a href="/report/logininfo">User Login Details Report</a></li>

</ul>