<script type="text/javascript">
    
$(document).ready(function(){       
    var json = <?php echo json_encode($this->allLeaves);?>;
    
            //console.log(json);
            $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
            $('#chartdiv').jqBarGraph({ 
                    data: json,
                    colors:['#242424','#437346','#97D95C'],
                    type:"multi",
                //    title:"<h3 class='chart-tit'>Overall Leave Consupmtion</h3>",
                    legend:true,
                    legends:new Array("Annual","Casual","Medical")
                });        

        $("#submit").click(function(){            
            
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var staffid = $("#staffid").val();
            var status = $("#status").val();
            var param = Array();
            
            param[0] = staffid
            param[1] = start_date;
            param[2] = end_date;
            param[3] = status;
            
            if(param[1]=='' || param[2] == ''){
                
                $("div.ui-state-highlight").css('display','block').text("Please select date range");
                $("div.ui-state-highlight").fadeOut(10000);
                return false;
            }
            
            if(param[1]>param[2]){
                $("div.ui-state-highlight").css('display','block').text("Please select valid date range");
                $("div.ui-state-highlight").fadeOut(10000);
                return false;
            }

            ajaxCall(param);
            
            
        })  
    })
    
 var ajaxCall=function(param){
        //Default values are null
        var param;
        param[0] = typeof(param) != 'undefined' ? param[0] : '1';
        param[1] = typeof(param) != 'undefined' ? param[1] : '2';
        param[2] = typeof(param) != 'undefined' ? param[2] : '3';
        param[3] = typeof(param) != 'undefined' ? param[3] : '4';
        
        //alert(param[0]+param[1]+param[2]);
        
        $.ajax({
            
            url: 'leavereports',
            type:"POST",
            data:({staffid:param[0],start_date:param[1],end_date:param[2],status:param[3]}),
            success: function(content) {
                
                content = $.parseJSON(content);
                //console.log(content);
                var data = {
                    table:content.leaves
                }
                
                var x = $("#TemplateResultsTable").html();
                if(x != null) {
                    y = x;
                }else{
                    x = y;
                }
                
                if(content.count == 0){
                  
                    $("<p>No matching records found !</p>").dialog({ 
                        buttons: { 
                            "Ok": function() { 
                                $(this).dialog("close");
                                $(location).attr('href','leavereports');
                            } 
                        },
                        title: 'Dialog Title'
                    });
                    
                }
               
                if(param[0]!='all'){

                    //console.log(content.summary);
                    $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
                    $('#chartdiv').jqBarGraph({ 
                    data: content.summary,
                    colors:['#242424','#437346','#97D95C'],
                    type:"multi",
                    // title:"<h3 class='chart-tit'>Overall Leave Consupmtion</h3>",
                    legend:true,
                    legends:new Array("Annual","Casual","Medical")
                });                     
              }
                
                //draw(newchartdata);
                $('div#report').setTemplate(x);    
                $('div#report').processTemplate(data);
                
                
                createSession();
                
            }
            
               
        })
        
    }
    
var  createSession = function(){
        
        var select = $("#report").html();
        ////console.log(select);
        var type= $("#status").val();
        var name= $("#staffid option:selected").attr('name');
        //console.log(name);
        if(name=='all'){
            n = '';
        }else{
            n = name+' -';
        }
        
        if(type == 'any'){
            var title = n+" Leave Report";
            
        }
        if(type == 1){
            var title = n+" Approved Leave Report";
        }    
        if(type == 0){
            var title = n+" Pending Leave Report";
        }    
        
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }

    
 
</script>

<h1>Leave Reports</h1><br/>
<table>
    <div class="ui-state-highlight" style="display:none"></div>
    <tr>
        <td>Employee :
            <select name="staffid" id="staffid">
                <option value="all" name="all">All</option>
                <?php foreach ($this->users as $user): ?>

                    <option value="<?php echo $user['staffid'];?>" name="<?=$user['full_name'];?>"><?php echo $user['staffid'] . " - " . $user['full_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
        <td>Start Date * :<input type="text" id="start_date" value="" class="datepicker" size="10"/></td>
        <td>End Date * :<input type="text" id="end_date" value="" class="datepicker" size="10"/></td>
        <td>Status * :
            <select id="status">
                <option value="any">Any</option>
                <option value="1">Approved</option>
                <option value="0">Pending</option>
            </select>

        </td>
        
        <td>
            &nbsp;<input type="button" id="submit" value="Generate Report"/></td>
    </tr>
</table>

<div id="reportdata">

</div>

<br/>
   <div id="report">
    <script id="TemplateResultsTable" type="text/html" >
       
                <table id="box-table-a">
                        <thead>
                                <th scope="col">Staff ID</th>
                                <th scope="col">Manager Staff ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Reason</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Count</th>
                                <th scope="col">Status</th>
                                <th scope="col">Request Date</th>
                                <th scope="col">Approve Date</th>
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                            <td>{$T.record.staffid}</td>
                                            <td>{$T.record.manager_staffid}</td>
                                            <td>{$T.record.type}</td>
                                            <td>{$T.record.reason}</td>
                                            <td>{$T.record.from}</td>
                                            <td>{$T.record.to}</td>
                                            <td>{$T.record.count}</td>                                            
                                            {#if $T.record.status==1}<td>Approved</td>{#else}<td>Pending</td>{#/if}
                                            <td>{$T.record.request_date}</td>
                                            <td>{$T.record.approve_date}</td>
     

                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>
</div>
<div id="export" style="display:none">
    <a href="/report/createpdf/name/Leave-Reports" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>

<br/>
<h2 ><?php echo $this->chart_head;?></h2>
<div id="chartdiv" style="width:600px; height:400px; background-color:#FFFFFF"></div>

   <br/>
