     

         
<?php if (isset($this->summary)): ?>
            <div>
                <h1>Approved Leave Summary for Staff ID <?php echo 111 ?></h1>
               

                <table id="hor-minimalist-b">
                     
                    <thead>
                    <th scope="col">Type</th>
                    <th scope="col">Year</th>
                    <th scope="col">Consumed</th>

                    </thead>
                    <tbody>

            <?php foreach ($this->summary as $summary): ?>
                <tr>

                    <td><?php echo $summary['type']; ?></td>
                    <td><?php echo $summary['year']; ?></td>
                    <td><?php echo $summary['total']; ?></td>
                <?php
                ?>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>

</div>
<div class="report">
    <?php if (isset($this->summary)): ?>
    <h1 class="heading">Leave Report By User</h1>
    <?php endif;?>
    <?php if (!isset($this->summary)): ?>
    <h1>Overall Leave Report</h1>
    <?php endif;?>

<table id="box-table-a">
    <thead>
        <th scope="col">Staff ID</th>
        <th scope="col">Manager Staff ID</th>
        <th scope="col">Type</th>
        <th scope="col">Reason</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Count</th>
        <th scope="col">Status</th>
        <th scope="col">Request Date</th>
        <th scope="col">Approve Date</th>
</thead>
<tbody>
    <?php foreach ($this->leaves as $leave): ?>
        <tr>
            <td><?php echo $leave['staffid']; ?></td>
            <td><?php echo $leave['manager_staffid']; ?></td>
            <td><?php echo $leave['type']; ?></td>
            <td><?php echo $leave['reason']; ?></td>
            <td><?php echo $leave['from']; ?></td>
            <td><?php echo $leave['to']; ?></td>
            <td><?php echo $leave['count']; ?></td>
            <td><?php echo ($leave['status'] == 1 ? "Approved" : "Pending"); ?></td>
            <td><?php echo $leave['request_date']; ?></td>
            <td><?php echo $leave['approve_date']; ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
    </table>


