<script type="text/javascript">
    /* Common ajax function
     *  param[0] = staffid
     *  param[1] = full_name
     */
    var ajaxCall=function(param){
        
        $.ajax({
            
            url: 'logininfo',
            type:"POST",
            data:({status:param[0],type:param[1]}),
            success: function(content){
                //alert(content);
                content = $.parseJSON(content);
                console.log(content);
                var data = {
                    table:content
                }
                
                var x = $("#TemplateResultsTable2").html();
                if(x != null) {
                    y = x;
                }else{
                    x = y;
                }
                
                if(content == 0){
                    $("<p>No matching records found !</p>").dialog({ 
                        buttons: { 
                            "Ok": function() { 
                                $(this).dialog("close");
                             //   $(location).attr('href','leavereports');
                            } 
                        },
                        title: 'Dialog Title'
                    });
                    
                }else{

                }   
                
                $('div#report2').setTemplate(x);    
                $('div#report2').processTemplate(data);             
                
                createSession();
                
            }
            
        })
    }
    
    $(document).ready(function(){
        
        var temp = <?php echo  json_encode($this->staff);?>;
        console.log(temp);
        var data={
            table:temp
        }
            
        var x = $("#TemplateResultsTable2").html();
        
        if(x != null) {
            y = x;
        }else{
            x = y;
        }
        $("#export").css('display','block');
        $('div#report2').setTemplate(x);    
        $('div#report2').processTemplate(data);         
                
                        
        $("#submit").click(function(){
            //alert('Clicked');
            var status = $("#status").val();
            var type = $("#type").val();
            //alert(type);
            //alert("Start Date is empty");
            var param = Array();
            param[0] = status
            param[1] = type;
            //alert(status);            
            ajaxCall(param);            
            
        }
    )
    })
    
var  createSession = function(){
        
        var select = $("#report").html();
        //console.log(select);
        var type= $("#status").val();
        if(type == 'all'){
            var title = "Staff Report";
            
        }
        if(type == 'present'){
            var title = "Present Staff Report";
        }    
        if(type == 'past'){
            var title = "Past Staff Report";
        }    
        
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }        
    
</script>
<h1>System Users Report</h1>
<br/>

<table>
    <div class="ui-state-highlight" style="display:none"></div>
    <tr>
        <td>User Type :
            <select id="type">
                <option value="all">All</option>
                <option value="user">User</option>
                <option value="hr_admin">HR Executive</option>
                <option value="manager">Executive User</option>

            </select>
        </td>
        <td>Status * :
            <select id="status">
                <option value="any">Any</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>

        </td>
        
        <td>
            &nbsp;<input type="button" id="submit" value="Filter Report"/></td>
    </tr>
</table>
     <br/>
     
<div id="report2">

    <script id="TemplateResultsTable2" type="text/html" >
        
                <table >
                        <thead>
                                <th scope="col">Full Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Account Status</th>
               
                          
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                           
                                            <td>{$T.record.full_name}</td>
                                            <td>{$T.record.username}</td>
                                            <td>{$T.record.user_type}</td>

                                            {#if $T.record.status==1}<td>Active</td>{#else}<td>Inactive</td>{#/if}
                                            
                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>   


</div>





<h2>User Type Anlysis as of <?php echo date('Y-m-d');?></h2>
<h3>(Active/Inactive Both)</h3>
<?php 
$csv = "";
foreach($this->utype as $utype){
    $csv .= $utype['user_type'].";".$utype['count']."\\n";
}

//echo $csv;
?>
<script type="text/javascript">
            
            var params = 
            {
                bgcolor:"#FFFFFF"
            };
            
            var flashVars = 
            {
                path: "/js/amcharts/flash/",
                
                /* in most cases settings and data are loaded from files, but, as this require
                 all the files to be upladed to web server, we use inline data and settings here.*/
                 
                // settings_file: "../sampleData/column_settings.xml",
                // data_file: "../sampleData/column_data.xml"
                
                //chart_data:"admin;1\nhr_admin;3\nmanager;1\nuser;10",
                chart_data:"<?php echo $csv;?>",
                chart_settings: "<settings><data_type>csv</data_type><legend><enabled>0</enabled></legend><pie><inner_radius>30</inner_radius><height>7</height><angle>10</angle><gradient></gradient></pie><animation><start_time>1</start_time><pull_out_time>1</pull_out_time></animation><data_labels><show>{title}</show><max_width>100</max_width></data_labels></settings>"
            };
            
            window.onload = function()
            {
                // change == to != to test flash version
                if(AmCharts.recommended() == "js")
                {
                    var amFallback = new AmCharts.AmFallback();
                    // amFallback.settingsFile = flashVars.settings_file;  		// doesn't support multiple settings files or additional_chart_settins as flash does
                    // amFallback.dataFile = flashVars.data_file;
                    amFallback.chartSettings = flashVars.chart_settings;
                    amFallback.pathToImages = "/js/amcharts/javascript/images/";
                    amFallback.chartData = flashVars.chart_data;
                    amFallback.type = "pie";
                    amFallback.write("chartdiv");
                }
                else
                {
                    swfobject.embedSWF("/js/amcharts/flash/amcolumn.swf", "chartdiv", "600", "400", "8.0.0", "/js/amcharts/flash/expressInstall.swf", flashVars, params);
                }
            }
        
        </script>
         <div id="chartdiv" style="width:600px; height:400px; background-color:#FFFFFF"></div>  