<script type="text/javascript">
 var ajaxCall = function(param) {
         //alert(param[0]+param[1]+param[2]);
         $.ajax({

             url: 'performance',
             type: "POST",
             data: ({
                 staffid: param
             }),
             success: function(content) {

                 chart_data = content;
                 content = $.parseJSON(content);
                 //console.log(content);
                 var data = {
                     table: content.rating
                 }

                 var x = $("#TemplateResultsTable").html();
                 if (x != null) {
                     y = x;
                 } else {
                     x = y;
                 }

                 if (content.rating == 0) {
                     $("<p>No matching records found !</p>").dialog({
                         buttons: {
                             "Ok": function() {
                                 $(this).dialog("close");
                                // $(location).attr('href', 'leavereports');
                             }
                         },
                         title: 'Dialog Title'
                     });

                 } else {
 
                     $('div#reportdata').setTemplate(x);
                     $('div#reportdata').processTemplate(data);
                    var arr = new Array();
                    for(var x in content.rating){
                        var year = content.rating[x].year;
                        var rating = Number(content.rating[x].rating);
                        arr.push(new Array(rating,year));
                    }
                    
        
                     $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
                     $('#chartdiv').jqBarGraph({
                         data: arr,                   
                         
                         title:"<h3 class='chart-tit'>Performance Analysis</h3>",                                      
                         prefix:"Rating ",                          
                         colors:["#FFD2B5","#EB9781"]
                     })
                     
                     
                 }


                 //draw(newchartdata);


                $("#export").css('display', 'none');
                 //createSession();

             }

         })
        }
         

         var createSession = function() {

                 var select = $("#report2").html();
                 ////console.log(select);
                 var title="Performance Analysis Report";
          

                 $("#export").css('display', 'block');
                 // alert(select);
                 $.ajax({
                     type: 'POST',
                     url: 'createsession',
                     data: {
                         id: select,
                         tit: title
                     },
                     success: function() {
                         //$("#test").text("select");
                     }
                 })
             }

         $(document).ready(function() {
             
             $("#submit").click(function() {
                 var staffid = $("#staffid").val();
                 if(staffid == 'all'){
                      $(location).attr('href','performance');
                 }else{ 
                     //alert('Ajax Here');
                     $("#report2").remove();
                    ajaxCall(staffid);
                 }
             })
        
        var json = eval(<?php echo json_encode($this->ratingOverview);?>);
                var rec = new Array();
                for(var x in json){
                    for(var i in json[x][0]){
                        rec.push(json[x][0][i]);
                    }
                    json[x][0]=rec;
                    rec = [];
                    
                }
                              
                 
                     $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
                     
                     $('#chartdiv').jqBarGraph({
                            data:json,                            
                            width:'60%',
                            colors: ['#242424','#437346','#97D95C',"#5AFF7A","#C8FFBF"] ,
                            legends:['Excellent Performance','Average Performance','Good Performance','Weak Performance','Poor Performance'],
                            legend: true,
                            legendWidth:'200',
                            showValues:false

                     });
                     
                     
                 var x = $("#TemplateResultsTable2").html();
                 if (x != null) {
                     y = x;
                 } else {
                     x = y;
                 }  
                    var data = {
                     table: json
                 }   
                 //console.log(data);
                 $('div#report2').setTemplate(x);
                 $('div#report2').processTemplate(data);
                 createSession();
       })
         
</script>




<h1>Staff Performance Report</h1>
<br/>
<table>
    <tr>
        <td>Employee :
            <select name="staffid" id="staffid">
                <option value="all">All</option>
                <?php foreach ($this->users as $user): ?>
                <option value="<?php echo $user['staffid'];?>"><?php echo $user['staffid'] . " - " . $user['full_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
        <td><input type="button" id="submit" value="Generate Report"/></td>
    </tr>
</table>
<br/>
<div id="reportdata">


    <script id="TemplateResultsTable" type="text/html" >
       
                <table id="box-table-a">
                        <thead>
                                <th scope="col">Year</th>
                                <th scope="col" colspan="2">Rating</th>
                                <th>Managers Comment</th>
                                
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                            <td>{$T.record.year}</td>
                                            <td>{$T.record.rating}</td>
                                            <td>{$T.record.title}</td> 
                                            <td>{$T.record.managers_comment}</td> 
                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>
</div>
<br/>         
  <div id="report2">
      <h3 class="tit">Performance overview</h3>
    <script id="TemplateResultsTable2" type="text/html" >
       
                <table id="box-table-a">
                    
                        <thead>
                                <th scope="col">Year</th>
                                <th scope="col">Excellent Performance</th>
                                <th scope="col">Average Performance</th>
                                <th scope="col">Good Performance</th>
                                <th scope="col">Weak Performance</th>
                                <th scope="col">Poor</th>
                                
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                            <th>{$T.record[1]}</th>
                                            {#foreach $T.record[0] as rec}
                                            
                                                {#if $T.rec == 0} <td>Nil</td> {#else} <td>{$T.rec}</td> {#/if}
                                               
                                            {#/for}                                            
                                         
                                            
                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>
</div>
<div id="export" style="display:none">
    <a href="/report/createpdf/name/performance" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>
        
         <div id="chartdiv" style="background-color:#FFFFFF"></div>
 <h3 class="tit">Key</h3>   
  <table id="box-table-a">
                        <thead>
                                <th scope="col">Rating</th>
                                <th scope="col" colspan="2">Value</th>
                                
                        </thead>
                        <tbody>
                            <?php foreach($this->rating as $r):?>
                            <tr>
                                            
                                            <td><?php echo $r['id'];?></td>
                                            <td><?php echo $r['title'];?></td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>