
<script type="text/javascript">
    /* Common ajax function
     *  param[0] = staffid
     *  param[1] = full_name
     */
    var ajaxCall=function(param){
        
        $.ajax({
            
            url: 'projectbystaff',
            type:"POST",
            data:({staffid:param}),
            success: function(content){
                //alert(content);
                content = $.parseJSON(content);
                console.log(content);
                var data = {
                    table:content
                }
                
                var x = $("#TemplateResultsTable2").html();
                if(x != null) {
                    y = x;
                }else{
                    x = y;
                }
                
                if(content == 0){
                    $("<p>No matching records found !</p>").dialog({ 
                        buttons: { 
                            "Ok": function() { 
                                $(this).dialog("close");
                             //   $(location).attr('href','leavereports');
                            } 
                        },
                        title: 'Dialog Title'
                    });
                    
                }else{

                }   
                
                $('div#report2').setTemplate(x);    
                $('div#report2').processTemplate(data);             
                
                createSession();
                
            }
            
        })
    }
    
    $(document).ready(function(){                
                        
        $("#submit").click(function(){
            var param = $("#staff option:selected").val();
            console.log(param);
            ajaxCall(param);
            
        }
    )
    })
    
var  createSession = function(){
        
        var select = $("#report2").html();
        //console.log(select);
        var type= $("#status").val();
        if(type == 'all'){
            var title = "Staff Report";
            
        }
        if(type == 'present'){
            var title = "Present Staff Report";
        }    
        if(type == 'past'){
            var title = "Past Staff Report";
        }    
        
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }        
    
</script>
<h1>Project's By Staff Report</h1>
<h3 class="tit">Select Assignee</h3>
<table>
    <tr>
        <td>
            <select id="staff">
                <?php foreach($this->users as $user):?>
                    <option value="<?=$user['staffid'];?>"><?=$user['full_name'];?></option>
                <?php endforeach;?>
            </select>
        </td>
        <td>
            <input type="button" id="submit" value="Generate Report"/>
        </td>
    </tr>
</table>

<br/>

<div id="report2">

    <script id="TemplateResultsTable2" type="text/html" >
        
                <table >
                          <thead>
                            <th>Project Title</th>
                            <th>Project Description</th>
                            <th>Project Progress Cycle</th>
                            <th>Project Start Date</th>
                            <th>Project End Date</th>
                            <th>Project Completion</th>
                    
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                           
                                            <td>{$T.record.title}</td>
                                            <td>{$T.record.desc}</td>
                                            <td>{$T.record.progress_cycle}</td>
                                            <td>{$T.record.start_date}</td>
                                            <td>{$T.record.end_date}</td>
                                          <td>{$T.record.status}%</td>
                                            
                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>   


</div>
 <div id="export" style="display:none">
    <a href="/report/createpdf/name/projectreports" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>   