<script type="text/javascript">
    $(document).ready(function(){
        // Get all search parameters on click
        $("input.search").click(function(){
            
            //Parameter Object
            var param={
            title : $("#search_title").val(),
            duration:$("#duration").val(),
            status : $(".status").val(),
            eval : $("select.evaluation").val()
            }
            
            //Ajax Call to load the report
           ajaxCall(param);
            
            
        })
    })
    
var ajaxCall=function(param){


        $.ajax({
            
            url: 'projectreports',
            type:"POST",
            data:(param),
            success: function(content) {
                
                //content = $.parseJSON(content);
                console.log(content);
//                var data = {
//                    table:content.leaves
//                }
//                
//                var x = $("#TemplateResultsTable").html();
//                if(x != null) {
//                    y = x;
//                }else{
//                    x = y;
//                }
//                
//                if(content.count == 0){
//                    $("<p>No matching records found !</p>").dialog({ 
//                        buttons: { 
//                            "Ok": function() { 
//                                $(this).dialog("close");
//                                $(location).attr('href','leavereports');
//                            } 
//                        },
//                        title: 'Dialog Title'
//                    });
//                    
//                }else{
//
//                }   
//                
////                
////                //draw(newchartdata);
////                $('div#report').setTemplate(x);    
////                $('div#report').processTemplate(data);
//                
//                
//                createSession();
//                
    }
        })
        
    }
    
var  createSession = function(){
        
        var select = $("#report").html();
        //console.log(select);
        var type= $("#status").val();
        if(type == 'all'){
            var title = "Staff Report";
            
        }
        if(type == 'present'){
            var title = "Present Staff Report";
        }    
        if(type == 'past'){
            var title = "Past Staff Report";
        }    
        
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }
   

    
</script>

<h1>Project Reports</h1>
<h2>Pre-defined Reports</h2>
<ul>
    <li><a href="/report/activeprojects">List Of Active Project</a></li>
    <li><a href="/report/completeprojects">List Of All Completed Projects</a></li>
    <li><a href="/report/ongoingprojects">List Of All On Going Projects</a></li>
    <li><a href="/report/projectbystaff">List Of Projects By Staff Memeber</a></li>
    <li><a href="/report/projectbycycle">List Of Projects By Progress Cycle</a></li>
    <li><a href="/report/activeprojectcompletion">List Of All Project By Completion</a></li>
    <li><a href="/report/delayedprojects">List Of Delayed Projects</a></li>
</ul>
<!--

TODO : Custom filters 

-->
<!--<h2 class="tit">Custom Filters</h2>
<table>
    <tr>
        <td>Project Title</td>
        <td><input type="text" name="search_title" id="search_title"/></td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>
        <select name="duration" id="duration">
            <option value="1">Any</option>
            <option value="2">Less than 3 month</option>
            <option value="3">More than 3 month</option>
        </select>            
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
        <select name="status" class="status">
            <option value="2">All</option>
            <option value="0">On Goin</option>
            <option value="1">Completed</option>           
        </select>    
        </td>
    </tr>
    <tr>
        <td>Query Project Evaluation</td>
        <td>
        <select name="evaluation" class="evaluation">
            <option val="req">Yes</option>
            <option val="notreq">No</option>
        </select>    
        </td>
    </tr>    
    <tr></tr>
    <tr>
        <td colspan="2"><input type="button"  class="search" value="Search"/></td>
    </tr>





</table>-->