<h1>Project Progress Summery</h1>
<h2>Edex Marketing Campaign</h2>
<h3>Start date : 01-09-2011</h3>
<h3>End date : 26-10-2011</h3>
<h3>Reporting interval : Fortnightly</h3>
     <script type="text/javascript">
        
            var chart;
            
            var chartData = [{year:20,due_date:31,actual_date:35},
                            {year:40,due_date:26.2,actual_date:22.8},
                            {year:60,due_date:30.1,actual_date:23.9},
                            {year:80,due_date:29.5,actual_date:25.1},
                            {year:100,due_date:24.6,actual_date:25.0}];
            
            
            window.onload = function() 
            {
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "year";
                chart.startDuration = 1;
                chart.marginTop = 25;
                chart.marginLeft = 47;
                chart.rotate = true;
                
                var graph1 = new AmCharts.AmGraph();
                graph1.title = "Due Date";
                graph1.valueField = "due_date";
                graph1.type = "column";
                graph1.lineAlpha = 0;
                graph1.fillColors = "#ADD981";
                graph1.fillAlphas = 1;
                chart.addGraph(graph1);
                
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Actual Date";
                graph2.valueField = "actual_date";
                graph2.type = "line";
                graph2.lineThickness = 2;
                graph2.bullet = "round";
                graph2.fillAlphas = 0;
                chart.addGraph(graph2);
                
                var catAxis = chart.categoryAxis;
                catAxis.gridPosition = "start";
                catAxis.dashLength = 5;
                
                var valAxis = new AmCharts.ValueAxis();
                valAxis.dashLength = 5;
                chart.addValueAxis(valAxis);
                
                var valAxis2 = new AmCharts.ValueAxis();
                valAxis2.position = "top";
                chart.addValueAxis(valAxis2);
                
                var legend = new AmCharts.AmLegend();
                legend.marginLeft = 47;
                chart.addLegend(legend);
                
                chart.write("chartdiv");
            }
            
        
        </script>
         <div id="chartdiv" style="width:600px; height:400px; background-color:#FFFFFF"></div>
         