<script type="text/javascript">
    /* Common ajax function
     *  param[0] = staffid
     *  param[1] = full_name
     */
    var ajaxCall=function(param){
    
        $.ajax({
            
            url: 'salaryreport',
            type:"POST",
            data:({staffid:param[0],start_date:param[1],end_date:param[2]}),
            success: function(content){
                //alert(content);
                content = $.parseJSON(content);
                console.log(content);
                var data = {
                    table:content
                }
                
                var x = $("#TemplateResultsTable2").html();
                if(x != null) {
                    y = x;
                }else{
                    x = y;
                }
                
                if(content == 0){
                    $("<p>No matching records found !</p>").dialog({ 
                        buttons: { 
                            "Ok": function() { 
                                $(this).dialog("close");
                                //   $(location).attr('href','leavereports');
                            } 
                        },
                        title: 'Dialog Title'
                    });
                    
                }else{
                    
                }   
                
                $('div#report2').setTemplate(x);    
                $('div#report2').processTemplate(data);             
            
                $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
               
                createSession();
                
            }
            
        })
    }
    
    $(document).ready(function(){
        
        var temp = <?php echo json_encode($this->coc); ?>;
        console.log(temp);
        var arr= new Array();
        for(i in temp){
            arr.push(new Array(temp[i].coc,temp[i].year));
        }
        
        $('#chartdiv').empty().parent().find("h3.chart-tit").remove();
        $('#chartdiv').jqBarGraph({
            data: arr,  
            title:"<h3 class='chart-tit'>Annual Human Resource Cost To Company Analysis</h3>",                                      
            prefix:"LKR ",                          
            colors:["#FFD2B5","#EB9781"]
        })
        
        
        $("#submit").click(function(){
            //alert('Clicked');
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var staffid = $("#staffid").val();
            //var status = $("#status").val();
            var param = Array();
            
            param[0] = staffid
            param[1] = start_date;
            param[2] = end_date;
            //param[3] = status;
            //alert(status);            
            ajaxCall(param);            
            
        }
    )
    })
    
    var  createSession = function(){
        
        var select = $("#report2").html();
        var title="Staff Payment Reports";
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }        
    
</script>
<h1>Human Resource Payment Reports</h1>
<br/>

<table>
    <tr>
        <td>Employee :
            <select name="staffid" id="staffid">
                <option value="all">All</option>
                <?php foreach ($this->users as $user): ?>

                    <option value="<?php echo $user['staffid'];?>"><?php echo $user['staffid'] . " - " . $user['full_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
        
        <td>
            &nbsp;<input type="button" id="submit" value="Generate Report"/></td>
    </tr>
</table>
     <br/>
     
<div id="report2">

    <script id="TemplateResultsTable2" type="text/html" >
        
                <table >
                        <thead>
                                <th scope="col">Staff ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Current Salary</th>
                                <th scope="col">Revised Date</th>
                                <th scope="col">Last Increment</th>
               
                          
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                           
                                            <td>{$T.record.staffid}</td>
                                            <td>{$T.record.full_name}</td>
                                            <td>{$T.record.salary}</td>
                                            <td>{$T.record.date}</td>
                                            <td>{$T.record.increment}%</td>

                                            
                                            


     

                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>   


</div>

<div id="export" style="display:none">
    <a href="/report/createpdf/name/trainingschedule" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>



<?php 
//$csv = "";
//foreach($this->utype as $utype){
//    $csv .= $utype['user_type'].";".$utype['count']."\\n";
//}
//
////echo $csv;
?>
<script type="text/javascript">
            
//            var params = 
//            {
//                bgcolor:"#FFFFFF"
//            };
//            
//            var flashVars = 
//            {
//                path: "/js/amcharts/flash/",
//                
//                /* in most cases settings and data are loaded from files, but, as this require
//                 all the files to be upladed to web server, we use inline data and settings here.*/
//                 
//                // settings_file: "../sampleData/column_settings.xml",
//                // data_file: "../sampleData/column_data.xml"
//                
//                //chart_data:"admin;1\nhr_admin;3\nmanager;1\nuser;10",
//                chart_data:"<?php // echo $csv;?>",
//                chart_settings: "<settings><data_type>csv</data_type><legend><enabled>0</enabled></legend><pie><inner_radius>30</inner_radius><height>7</height><angle>10</angle><gradient></gradient></pie><animation><start_time>1</start_time><pull_out_time>1</pull_out_time></animation><data_labels><show>{title}</show><max_width>100</max_width></data_labels></settings>"
//            };
//            
//            window.onload = function()
//            {
//                // change == to != to test flash version
//                if(AmCharts.recommended() == "js")
//                {
//                    var amFallback = new AmCharts.AmFallback();
//                    // amFallback.settingsFile = flashVars.settings_file;  		// doesn't support multiple settings files or additional_chart_settins as flash does
//                    // amFallback.dataFile = flashVars.data_file;
//                    amFallback.chartSettings = flashVars.chart_settings;
//                    amFallback.pathToImages = "/js/amcharts/javascript/images/";
//                    amFallback.chartData = flashVars.chart_data;
//                    amFallback.type = "pie";
//                    amFallback.write("chartdiv");
//                }
//                else
//                {
//                    swfobject.embedSWF("/js/amcharts/flash/amcolumn.swf", "chartdiv", "600", "400", "8.0.0", "/js/amcharts/flash/expressInstall.swf", flashVars, params);
//                }
//            }
        
        </script>
         <div id="chartdiv" style="width:600px; height:400px; background-color:#FFFFFF"></div>  