<script type="text/javascript">
    /* Common ajax function
     *  param[0] = staffid
     *  param[1] = full_name
     */
    var ajaxCall=function(param){
        //Default values are null
        param[0] = typeof(param) != 'undefined' ? param[0] : '1';
        param[1] = typeof(param) != 'undefined' ? param[1] : '2';
        param[2] = typeof(param) != 'undefined' ? param[2] : '3';
        param[3] = typeof(param) != 'undefined' ? param[3] : '4';        
        
        $.ajax({
            
            url: 'trainingschedule',
            type:"POST",
            data:({staffid:param[0],start_date:param[1],end_date:param[2],status:param[3]}),
            success: function(content) {
                //alert(content);
                content = $.parseJSON(content);
                //console.log(content);
                var data = {
                    table:content
                }
                
                var x = $("#TemplateResultsTable2").html();
                if(x != null) {
                    y = x;
                }else{
                    x = y;
                }
                
                if(content == 0){
                    $("<p>No matching records found !</p>").dialog({ 
                        buttons: { 
                            "Ok": function() { 
                                $(this).dialog("close");
                             //   $(location).attr('href','leavereports');
                            } 
                        },
                        title: 'Dialog Title'
                    });
                    
                }else{

                }   
                
                $('div#report2').setTemplate(x);    
                $('div#report2').processTemplate(data);             
                
                createSession();
                
            }
            
        })
    }
    
    $(document).ready(function(){
        
        var temp = <?php echo  json_encode($this->trainings);?>;
        console.log(temp);
        var data={
            table:temp
        }
            
        var x = $("#TemplateResultsTable2").html();
        
        if(x != null) {
            y = x;
        }else{
            x = y;
        }
       
        $('div#report2').setTemplate(x);    
        $('div#report2').processTemplate(data);         
        createSession();        
                        
        $("#submit").click(function(){
            //alert('Clicked');
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var staffid = $("#staffid").val();
            var status = $("#status").val();
            //alert("Start Date is empty");
            var param = Array();
            param[0] = staffid
            param[1] = start_date;
            param[2] = end_date;
            param[3] = status;
            //alert(status);
            if(param[1]=='' || param[2] == ''){
                
                $("div.ui-state-highlight").css('display','block').text("Please select date range");
                $("div.ui-state-highlight").fadeOut(10000);
                return false;
            }
            
            if(param[1]>param[2]){
                $("div.ui-state-highlight").css('display','block').text("Please select valid date range");
                $("div.ui-state-highlight").fadeOut(10000);
                return false;
            }
            
            
            ajaxCall(param);            
            
        }
    )
    })
    
var  createSession = function(){
        
        var select = $("#report2").html();
        
        var type= $("#status").val();
        var name= $("#staffid option:selected").attr('name');

        if(name=='all'){
            n = ' ';
        }else{
            n = name+' -';
        }
        
        if(type == 'any'){
            var title = n+" Training Report";
            
        }
        if(type == 1){
            var title = n+" Approved Leave Report";
        }    
        if(type == 0){
            var title = n+" Pending Leave Report";
        }    
        
        $("#export").css('display','block');
        // alert(select);
        $.ajax({
            type: 'POST',        
            url:'createsession',
            data:{id:select,tit:title},
            success:function(){
                //$("#test").text("select");
            }
        })
    }
   

        
    
</script>
<h1>Training Reports</h1>
<br/>
<table>
    <div class="ui-state-highlight" style="display:none"></div>
    <tr>
        <td>Employee :
            <select name="staffid" id="staffid">
                <option value="all" name="all">All</option>
                <?php foreach ($this->users as $user): ?>

                    <option value="<?php echo $user['staffid'];?>" name="<?=$user['full_name'];?>"><?php echo $user['staffid'] . " - " . $user['full_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
        <td>Start Date * :<input type="text" id="start_date" value="" class="datepicker" size="10"/></td>
        <td>End Date * :<input type="text" id="end_date" value="" class="datepicker" size="10"/></td>
        <td>Status * :
            <select id="status">
                <option value="any">Any</option>
                <option value="1">Approved</option>
                <option value="0">Pending</option>
            </select>

        </td>
        
        <td>
            &nbsp;<input type="button" id="submit" value="Generate Report"/></td>
    </tr>
</table>
     <br/>
 <div id="report2">

    <script id="TemplateResultsTable2" type="text/html" >
        
                <table >
                        <thead>
                                <th scope="col">Staff ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Training Title</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Training Date</th>
                                <th scope="col">Requested Date</th>
                                <th scope="col">Approved Date</th>
                                <th scope="col">Status</th>
                          
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                            <td>{$T.record.staffid}</td>
                                            <td>{$T.record.full_name}</td>
                                            <td>{$T.record.title}</td>
                                            <td>{$T.record.reason}</td>
                                            <td>{$T.record.due_date}</td>
                                            <td>{$T.record.request_date}</td>
                                            <td>{$T.record.approve_date}</td>
                                            {#if $T.record.status==1}<td>Approved</td>{#else}<td>Approved</td>{#/if}
                                            


     

                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>   


</div>

<div id="export" style="display:none">
    <a href="/report/createpdf/name/trainingschedule" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>