<table id="hor-minimalist-b">
    <thead>
    <th scope="col">Year</th>
    <th scope="col">Rating</th>
    </thead>
    <tbody>
        <tr>
            <td>2011</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2010</td>
            <td>3</td>
        </tr>
                <tr>
            <td>2009</td>
            <td>2</td>
        </tr>
    </tbody>
</table>