
<div class="printable">
<h1>
   Staff List Report
</h1>
<fieldset>
        <legend>Select Filter </legend>
<table class="nostyle">
    <tr>

        <td>Filter * :
            <select id="status">
                <option value="all">All Staff Filter</option>
                <option value="present">Present Staff Filter </option>
                <option value="past">Past Staff Staff Filter </option>                
            </select>

        </td>
        
        <td>
            &nbsp;<input type="button" id="submit" value="Generate Report"/></td>
    </tr>
</table>
</fieldset>   
    
</div>

<div id="report">
    <script id="TemplateResultsTable" type="text/html" >
       
                    <table>
                        <thead>
                            <tr>
                                    <th>Staff ID</th>
                                    <th>User Name</th>
                                    <th>User Type</th>
                                    <th>Full Name</th>
                                    <th>Designation</th>
                                    <th>Date of Hire</th>
                                    <th>Date of Termination</th>
                            </tr>
                        </thead>
                        <tbody>
                            {#foreach $T.table as record}

                            <tr>
                                            <td>{$T.record.staffid}</td>
                                            <td>{$T.record.username}</td>
                                            <td>{$T.record.user_type}</td>
                                            <td>{$T.record.full_name}</td>
                                            <td>{$T.record.Title}</td>
                                            <td>{$T.record.date_of_hire}</td>

  {#if $T.record.date_of_termination==null}<td>N/A</td>{#else}<td>{$T.record.date_of_termination}</td>{#/if}                                               
                            </tr>
                            {#/for}
                        </tbody>
                    </table>

    </script>
</div>
<div id="export" style="display:none">
    <a href="/report/createpdf/name/userlist" id="exportpdf" onclick="exportpdf">Export to PDF</a>
</div>
<script type="text/javascript">

// When the filter is clicked  
$("#submit").click(function(){    
    var select = $("#status").val();    
    $.ajax({
        type:'POST',        
        url:'userlist',
        data:{id:select},
        success:function(content){
            //alert(data);
            //$("#report").text(data);
            var data = {
                table:$.parseJSON(content)
            }
         //  console.log(data);
         //   $("#test").append(data);

            var x = $("#TemplateResultsTable").html();
            if(x != null) {
                y = x;
            }else{
                x = y;
            }
        // console.log(x);
            $('div#report').setTemplate(x);    
            $('div#report').processTemplate(data);
            createSession();
          //  $("#report").setTemplate();
           // $("#report").processTemplate(data);
        }
    })
})

createSession = function(){
    
    var select = $("#report").html();
    console.log(select);
    var type= $("#status").val();
    if(type == 'all'){
        var title = "Staff Report";
    }
    if(type == 'present'){
        var title = "Present Staff Report";
    }    
    if(type == 'past'){
        var title = "Past Staff Report";
    }    
        
    $("#export").css('display','block');
   // alert(select);
    $.ajax({
        type: 'POST',        
        url:'createsession',
        data:{id:select,tit:title},
        success:function(){
              //$("#test").text("select");
        }
    })
}



</script>

