<!-- Form -->
<h3 class="tit">Recruit Employee</h3>
<fieldset>
    <legend>Employee Information</legend>
    <?php
    echo $this->exception;
    echo $this->form;

    if(isset($this->msg)){
        echo $this->msg;
    }

    ?>

</fieldset>

