<script type="text/javascript">
    function viewobjectives(staffid,full_name){


        $.ajax({
          url: '/hrmanager/viewobjectives',
          type:"POST",
          data:({id:staffid,name:full_name}),
          success: function(data) {

            		$( "#dialog-message" ).html(data).dialog({
			modal: true,
                        resizable: false,
                        width: '40%',
                   /*     buttons: {
                            close: function() { $(this).dialog("close"); }
                        }
                      */
			
		});

          }
        });
    }


    function createobjectives(staffid){

        $.ajax({
          url: '/hrmanager/createobjectives',
          type:"POST",
          data:({id:staffid}),
          success: function(data) {

            		$("#dialog-message").html(data).dialog({
			modal: true,
                        resizable: false,
                        width:'50%'

			
		});

          }
        });
    }

    function assignjobdesc(staffid){
   // alert(staffid);
        $.ajax({
          url: '/hrmanager/createjobrole',
          type:"POST",
          data:({id:staffid}),
          success: function(data) {

            		$("#dialog-message").html(data).dialog({
			modal: true,
                        resizable: false,
                        width:'75%',
                        buttons: {

                            Ok: function() { $(this).dialog("close"); }
                        }



		});

          }
        });
    }

    function viewjobdesc(staffid){
        $.ajax({
          url: '/hrmanager/viewjobrole',
          type:"POST",
          data:({id:staffid}),
          success: function(data) {

            		$("#dialog-message").html(data).dialog({
			modal: true,
                        resizable: false,
                        width:'40%',
                        buttons:    {
                          
                            Ok: function() { $(this).dialog("close"); }
                        }



		});

          }
        });
    }

    function editjobdesc(staffid){

        $.ajax({
          url: '/hrmanager/editjobrole',
          type:"POST",
          data:({id:staffid}),
          success: function(data) {

            		$("#dialog-message").html(data).dialog({
			modal: true,
                        resizable: false,
                        width:'75%',
                        buttons:    {

                            Ok: function() { $(this).dialog("close"); }
                        }



		});

          }
        });
    }
</script>

<table class="datat">
    <thead>
    <tr>
        <th scope="col">Staff ID</th>
        <th scope="col">NIC</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Full Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Date of Hire</th>
        <th scope="col">Date of Termination</th>
        <th scope="col">Status</th>
        <th scope="col">Objectives</th>
        <th scope="col">Job Role</th>
       

    </tr>
    </thead>
    <tbody>
    <?php foreach($this->users as $emp):?>
    <tr>
        <td><?php echo $emp['staffid'];?></td>
        <td><?php echo $emp['nic'];?></td>
        <td><?php echo $emp['date_of_birth'];?></td>
        <td><?php echo $emp['full_name'];?></td>
        <td><?php echo $emp['Title'];?></td>
        <td><?php echo $emp['date_of_hire'];?></td>
        <td><?php echo $emp['date_of_termination'];?></td>
        <?php if($emp['status']==1){
            echo '<td><a href="/hrmanager/terminate/id/'.$emp['staffid'].'" class="active"></a></td>';

        }else{
               echo '<td><a href="/hrmanager/terminate/id/'.$emp['staffid'].'/s/0" class="inactive"></a></td>';


            }
        ?>
        
        <td>
            <a href="#" onclick="viewobjectives(<?php echo $emp['staffid'];?>);">View</a> |
            <a href="/hrmanager/createobjectives/staffid/<?php echo $emp['staffid'];?>">Add</a>

        </td>
        <td>

<a href="/hrmanager/createjobrole/id/<?php echo $emp['staffid']?>" >Assign</a>|
<a href="#" onclick="viewjobdesc(<?php echo $emp['staffid'];?>);">View</a>|
<a href="/hrmanager/editjobrole/id/<?php echo $emp['staffid']?>">Edit</a>
        </td>
     
    </tr>

    <?php    endforeach;?>
    </tbody>
    
</table>
<div id="dialog-message"></div>
