
<div id="content" >
<?php $role = $this->jobrole;?>
<table>
    <thead>
        <tr>
        <th>Title</th>
        <th>Description</th>
        </tr>
    </thead>
     <tbody>
         <tr>
          <td><?php echo $role['title'];?></td>
        <td><?php echo $role['desc'];?></td>           
         </tr>

    </tbody>
</table>
</div>