
<div id="content" >
  <table >
     <thead>
    <tr>      
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
    </tr>
     </thead>
     <tbody>
    <?php foreach($this->obj as $obj):?>
    <tr>
        <td><?php echo $obj['title'];?></td>
        <td><?php echo $obj['desc'];?></td>
        <td>
            <a href="/hrmanager/editobjective/id/<?php echo $obj['id']?>" class="edit">Update</a> |
            <a href="/hrmanager/removeobjective/id/<?php echo $obj['id']?>" class="remove">Remove</a>
        </td>
      
     
    </tr>   
    <?php    endforeach;?>
     </tbody>
</table>  
</div>

