/* WRITE YOUR CSS CODE HERE */
#content{
    min-height: 450px;

}

a{
    font-weight: bold;
    text-decoration: none;
}


 #btn-create {margin:0 0 15px 0;}
 #btn-create a {float:left; padding-left:27px; height:37px; overflow:hidden; background:url("/design/btn-create-left.gif") 0 0 no-repeat; text-decoration:none; font-weight:bold; cursor:pointer;}
 #btn-create a span {float:left; display:block; width:163px; padding:8px 0 10px 10px; background:url("/design/btn-create-right.gif") -2px 0 no-repeat;}
 #btn-create a:hover {background-position:0 -37px;}
 #chartdiv{
    padding:10px;
    margin:10px;
}