<style>
    .zend_form{
    background:#fff;
    width:auto;
    margin:5px auto;
    padding:0;
    overflow:auto;
    border: 1px solid;
    }

    .zend_form dt{
    padding:0;
    clear:both;
    width:30%;
    float:left;
    text-align:right;
    margin:5px 5px 5px 0;
    }

    .zend_form dd{
    padding:0;
    float:left;
    width:68%;
    margin:5px 2px 5px 0;
    }

    .zend_form p{
    padding:0;
    margin:0;
    }

    .zend_form input, .zend_form textarea{
    margin:0 0 2px 0;
    padding:0;
    }

    #submit{
    float:right;
   /*display: none;*/
    }



</style>