
<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/custom-theme/jquery-ui-1.8.14.custom.css" />
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.vibrate.js"></script>


<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
                $("#loginform").submit(function(){
                    var un = $("#username").val();
                    var pw = $("#password").val();
                    if(un == '' || pw == ''){
                    $("#submit-label").text('Can not be empty');
                    return false;
                    }
                })
		$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "#login" ).dialog({
			height: 'auto',
                        width:'35%',
			modal: true,
                        closeOnEscape:false,
                        draggable:false,
                        resizable:false,
                        show:'slide',
                        open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }

		});

    

});


</script>




</body>
</html>
<div id="login" style="display:none">
<?php echo $this->form; ?>
<?php if(isset($this->error)):?>
<div class="error"><?php echo $this->error;?></div>
<?php endif; ?>
</div>





