<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
 table{
  border: 0px solid black;
  border-spacing: 0px;
  width:100%;
}

table thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

table thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

table tr.odd {
  background-color: #AAAAAA;
}

table tr td, th{
  border-bottom: 1px solid black;
  padding: 2px;
}
table tr td{
  text-align: center;
}
a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}

h1{
    margin:5px;
    padding:15px;
}

div#content{
   border:1px solid;
    margin:0 auto;    
    
    height:80%;
}
#header{
    border-bottom:1px #000 solid;
    margin:0 auto;
    height:75px; 
    padding:2px;
        
    
}
#footer{
    border:1px #000 solid;
    margin:0 auto;
    height:60px; 
    padding:2px;
        
    
}
    </style>
</head>


<body>



		<div id="content" class="box">
                    