body {
background-color:#FFFFFF;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
color:#555555;
background-image:url(images/back.png);
background-repeat:repeat-x;
}

#body2 {
background-image:url(images/backbottom.png);
background-repeat:repeat-x;
background-position:bottom center;
}

#page {
width:1000px;

margin:auto;
padding:auto;

}

#header {
clear:both;
width:870px;
height:112px;

padding-top:20px;
padding-left:30px;
}

#menulinks {

width:100%;
float:left;
height:41px;
background-image:url(images/menulinks.png);
}

#menulinks a {
	padding-left:10px;
	padding-right:10px;
	padding-top:12px;
	height:29px;
        background-image:none;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-left:3px;
	margin-right:3px;
  }
  
  
#menulinks a:hover, #menulinks a.active {
	background-image:url(images/menuhover.png);
	background-position:top left;
	text-decoration:none;
	color:#FFFFFF;
}

.menuline {
	width:2px;
	height:41px;
	float:left;
	display:block;
	background-image:url(images/menuline.png);
}	

#mainarea {

clear:both;

}
td{
    padding:4px;
}

th{
    padding:5px;
    witdh:100%;
}
#contentarea {
width:100%;
padding-right:10px;
padding-left:10px;
padding-bottom:20px;
border-left:1px black solid;
border-right:1px black solid;
line-height:14pt;
}

#sidebar {
float:left;
width:215px;
background-image:url(images/sidebartop.png);
background-repeat:repeat-x;
line-height:14pt;
}

#footer {
width:900px;
clear:both;
height:38px;
padding-top:50px;
text-align:center;
line-height:14pt;

color:#FFFFFF;
}

#footer a {
color:#FFFFFF;
}

/*h1, h1 a {
font-size:25pt;
color:#FFFFFF;
margin:0;
}*/

h2 {
font-size:15pt;
color:#333333;
padding-top:6px;
}

.description {
font-size:14pt;
color:#CCCCCC;
margin:0;
}

a {
color:#555555;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}


.back{
    display:inline-block;

    width:70px;;
    height:80px;
    background-image:url(/images/back_icon_arrow.png);
    
}

.add{
    display:inline-block;  
    width:24px;;
    height:24px;
    background-image:url(/images/add3.png);
    
}
.req{
    display:inline-block;  
    width:64px;;
    height:64px;
    background-image:url(/images/req.jpg);
    
}
.edit{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/e.png);
    
}
.remove{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/del.png);
    
}

.inactive{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/remove-user-icon.png);
    
}

.active{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/_active__yes.png);
    
}
.view{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/view-icon.png);
    
}

.add_user{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/add_user.png);
    
}

.pending{
    display:inline-block;  
    width:24px;
    height:24px;
    background-image:url(/images/Time.png);
    
}
.evaluate{
    display:inline-block;  
    
    width:32px;
    height:24px;
    background-image:url(/images/evaluate.png);
    
}

.appraisal{
    display:inline-block;     
    width:24px;
    height:24px;
    background-image:url(/images/appraisal.png);
    
}

.more{
    display:inline-block;     
    width:24px;
    height:24px;
    background-image:url(/images/more-ico.png);
    
}
input{
    font-size: 1.5em;
  
}

select{
    font-size: 1.5em;
}
dt{
    font-size: 1.5em;
    padding:5px;
}

table{
    width:100%;
}

th{
    text-align: left;
 
    
}

