<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="/css/andreas09.css" title="andreas09" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="/css/blitzer/jquery-ui-1.8.7.custom.css" />
        <link rel="stylesheet" type="text/css" href="/css/tables.css"/>
        <script type="text/javascript" src="/js/jquery-1.4.4.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.7.custom.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
     <script type="text/javascript" src="/js/jquery.cleditor.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#input").cleditor({
              controls:     // controls to add to the toolbar
                        "bold underline italic | undo redo | " +
                        " | cut copy paste pastetext | print source",

            });
          });
        </script>
        <style type="text/css">
	/* This is only a demonstration of the included colors in the andreas09 template. Don't use this file as a starting point when you use the template, use the included index.html or 2col.html instead! */
	#container{background:#f0f0f0 url(/css/alt-img/bodybg-red.jpg) repeat-x;}
	#mainmenu a:hover{background:#f0f0f0 url(/css/alt-img/menuhover-red.jpg) top left repeat-x;}
	#mainmenu a.current{background:#f0f0f0 url(/css/alt-img/menuhover-red.jpg) top left repeat-x;}
	</style>
	<title>MatrixERP v1.0</title>
        <script type="text/javascript">

            $(document).ready(function(){
                
                $('.emp').click(function(){
                    $('.sub_emp_manager').show();
                });

                $(function() {
            	$( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                });

             });

        </script>
<style>
    .zend_form{
    background:#fff;
    width:auto;
    margin:5px auto;
    padding:0;
    overflow:auto;
    border: 1px solid;
    }

    .zend_form dt{
    padding:0;
    clear:both;
    width:30%;
    float:left;
    text-align:right;
    margin:5px 5px 5px 0;
    }

    .zend_form dd{
    padding:0;
    float:left;
    width:68%;
    margin:5px 2px 5px 0;
    }

    .zend_form p{
    padding:0;
    margin:0;
    }

    .zend_form input, .zend_form textarea{
    margin:0 0 2px 0;
    padding:0;
    }

    #submit{
    float:right;
   /*display: none;*/
    }

  /*  .required:before{content:'* '}

    .optional:before{content:'+ '}
  */


</style>
        <style>
    
     
        </style>
</head>

<body>
<div id="container">
	<div id="sitename">
		<h1>MatrixERP v1.0 alpha</h1>
                <h2>Matrix Institute of Information Technology &trade;</h2>
	</div>
	<div id="mainmenu">
		<ul>
			<li><a href="/user/viewprofile" class="emp">My Profile</a></li>
			<li><a href="/user/viewuserleave">My Leave's</a></li>
			<li><a href="/user/viewtraining">My Trainings</a></li>
			<li><a href="/user/myappraisal">My Appraisal</a></li>
			<li><a href="/user/viewprojects">My Project's</a></li>
			<li><a href="/auth/logout">Logout</a></li>
                        <li><a href="/user/changemypassword">Change Password</a></li>
		</ul>
	</div>

	<div id="wrap">
		<div id="leftside" style="display:none">
                    <div class="sub_emp_manager">
			<p>
			<a class="nav active" href="/hrmanager/hire"">Hire Employee</a><span class="hide"> | </span>
			<a class="nav" href="/hrmanager/userlist">Terminate Employee</a><span class="hide"> | </span>
                            <a class="nav" href="/hrmanager/createjobrole">Create Job Role</a><span class="hide"> | </span>
			<a class="nav" href="#">Assign Job Role</a><span class="hide"> | </span>
			<a class="nav" href="/hrmanager/createobjectives">Create Objectives</a><span class="hide"> | </span>
			<a class="nav" href="/hrmanager/userlist">View Objectives</a>
                     
			</p>
                    </div>

		</div>

	

		<div id="content">
			<?php echo $this->layout()->content; ?>
		</div>
	<div class="clearingdiv">&nbsp;</div>
	</div>
</div>

<div id="footer">
	<p>&copy; 2010 <a href="#">Developed By Gayan Neomal Lorenzu Hewa</a> | Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
</div>

</body>
</html>


<?php include('flash.php');?>