<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Your description goes here" />
        <meta name="keywords" content="your,keywords,goes,here" />
        <meta name="author" content="Your Name" />
        <link rel="stylesheet" type="text/css" href="/css/andreas09.css" title="andreas09" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="/css/blitzer/jquery-ui-1.8.7.custom.css" />
        <link rel="stylesheet" type="text/css" href="/css/tables.css"/>
        <link rel="stylesheet" type="text/css" href="/style/style.css"/>
        <script type="text/javascript" src="/js/jquery-1.4.4.js"></script>
        <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.7.custom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
        <script type="text/javascript" src="/js/jquery.cleditor.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#input").cleditor({
                    controls:     // controls to add to the toolbar
                    "bold underline italic | undo redo | " +
                        " | cut copy paste pastetext | print source",
                });
            });

        
            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

        </script>
        <style type="text/css">
            /* This is only a demonstration of the included colors in the andreas09 template. Don't use this file as a starting point when you use the template, use the included index.html or 2col.html instead! */
            #container{background:#f0f0f0 url(/css/alt-img/bodybg-red.jpg) repeat-x;}
            #mainmenu a:hover{background:#f0f0f0 url(/css/alt-img/menuhover-red.jpg) top left repeat-x;}
            #mainmenu a.current{background:#f0f0f0 url(/css/alt-img/m/js/enuhover-red.jpg) top left repeat-x;}
        </style>
        <title>MatrixERP v1.0</title>
        <script type="text/javascript">

            $(document).ready(function(){
                
                $('.emp').click(function(){
                    $('.sub_emp_manager').show();
                });

                $(function() {
                    $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                });

                $('#nav > li > a').click(function(){
                    if ($(this).attr('class') != 'active'){
                        $('#nav li ul').slideUp();
                        $(this).next().slideToggle();
                        $('#nav li a').removeClass('active');
                        $(this).addClass('active');
                    }
         
                  
                });
                $('#nav > li > a').click(function(){
                    if ($(this).attr('class') != 'active'){
                        $('#nav li ul').slideUp();
                        $(this).next().slideToggle();
                        $('#nav li a').removeClass('active');
                        $(this).addClass('active');
                    }


                });


            });

        </script>

        <style>
            .zend_form{
                background:#fff;
                width:auto;
                margin:5px auto;
                padding:0;
                overflow:auto;
                /*border: 1px solid;*/
            }

            .zend_form dt{
                padding:0;
                clear:both;
                width:30%;
                float:left;
                text-align:right;
                margin:5px 5px 5px 0;
            }

            .zend_form dd{
                padding:0;
                float:left;
                width:68%;
                margin:5px 2px 5px 0;
            }

            .zend_form p{
                padding:0;
                margin:0;
            }

            .zend_form input, .zend_form textarea{
                margin:0 0 2px 0;
                padding:0;
            }

            #submit{
                float:right;
                /*display: none;*/
            }

            /*  .required:before{content:'* '}

              .optional:before{content:'+ '}
            */

            #nav { float:left;margin-left:0px;border-right: 1px solid #999;margin-top:0px; }
            #nav li{list-style: none;width:100%;}
            #nav li a {padding:5%;display: block; background: #ccc; border-bottom: 1px solid #999; text-decoration: none; color: #000;}
            #nav li a:hover, #nav li a.active {background: #999; color: #fff;}
            #nav li ul {display: none;padding:5%;}
            #nav li ul li a {background: #ececec; border-bottom: 1px dotted #ccc;}
        </style>
        <?php        include('js.php');?>
    </head>

    <body>
        <div id="container">
            <div id="sitename">
                <h1>MatrixERP v1.0 alpha</h1>
                <h2>Matrix Institute of Information Technology &trade;</h2>
            </div>
            <div id="mainmenu">
                <br></br>
                <br></br>
                <br></br>
            </div>


            <div id="wrap">

                <div id="leftside">

                    <ul id="nav">
                        <li><a href="#">Leave Manager</a>
                            <ul>
                                <li><a href="/manager/viewuserleave">View</a></li>
                                <li><a href="#">Reports</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Training Manager</a>
                            <ul>
                                <li><a href="/manager/viewtraining">View</a></li>
                                <li><a href="#">Reports</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Appraisal Manager</a>
                            <ul>
                                <li><a href="/manager/viewappraisals">View</a></li>
                                <li><a href="/manager/pay">P<sup>3</sup></a></li>
                            </ul>
                        </li>
                        <li><a>Project Manager</a>
                            <ul>
                                <li><a href="/manager/viewprojects">View</a></li>
                                <li><a href="/manager/createproject">Add</a></li>
                                <li><a href="/manager/viewprojects/mode/edit">Edit</a></li>
                                <li><a href="/manager/evaluateprojects">Evaluate</a></li>
                                <li><a href="/manager/projectreports">Reports</a></li>

                            </ul>
                        </li>
                        <li><a href="/report/index">Report</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                        <li><a href="/manager/changemypassword">Change Password</a></li>
                    </ul>






                </div>



                <div id="content">

                    <?php echo $this->layout()->content; ?>
                </div>
                <div class="clearingdiv">&nbsp;</div>
            </div>
        </div>

        <div id="footer">
            <p>&copy; 2010 <a href="#">Developed By Gayan Neomal Lorenzu Hewa</a> | Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
        </div>

    </body>
</html>

<?php include('flash.php'); ?>
