<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/reset.css" /> <!-- RESET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/main.css" /> <!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
	<link rel="alternate stylesheet" media="screen,projection" type="text/css" href="/css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
	<!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="/css/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/style.css" /> <!-- GRAPHIC THEME -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="/css/custom-theme/jquery-ui-1.8.14.custom.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
        <link rel="stylesheet" type="text/css" href="/js/jalerts/jquery.alerts.css" />
        <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>
        <script type="text/javascript" src="/js/switcher.js"></script>
        <script type="text/javascript" src="/js/switcher.js"></script>      
        <script type="text/javascript" src="/js/jquery-jtemplates.js"></script>
        <!-- following scripts required for JavaScript version. The order is important! -->
        <script type="text/javascript" src="/js/amcharts/javascript/amcharts.js"></script>
        <script type="text/javascript" src="/js/amcharts/javascript/amfallback.js"></script>
        <script type="text/javascript" src="/js/amcharts/javascript/raphael.js"></script>                
         <script type="text/javascript" src="/js/jqBarGraph.1.1.min.js"></script> 
	<script type="text/javascript">
	$(document).ready(function(){
		$(".tabs > ul").tabs();        
                $(function() {
                    $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                });
        	        //Cleditor
	        $("#input").cleditor({
                    controls:     // controls to add to the toolbar
                    "undo redo | " +
                        " | cut copy paste pastetext | print source",
		        })
		    
	});
	</script>
	<title>MatrixERP</title>
</head>


<body>

<div id="main">

	<!-- Tray -->
	<div id="tray" class="box">

		<p class="f-left box">

			<!-- Switcher -->
			<span class="f-left" id="switcher">
				<a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="/design/switcher-1col.gif" alt="1 Column" /></a>
				<a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="/design/switcher-2col.gif" alt="2 Columns" /></a>
			</span>

			Project: <strong>Your Project</strong>

		</p>

		<p class="f-right">User Group: <strong><a href="#">
                <?php 
                        $identity = Zend_Auth::getInstance()->getIdentity();
                        echo ($identity['user_type'] =='hr_admin')?'Human Resources':'';
                        echo ($identity['user_type'] =='user')?'User':'';
                        echo ($identity['user_type'] =='manager')?'Executive':'';
                ?>
                        </a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="/auth/logout" id="logout">Log out</a></strong></p>

	</div> <!--  /tray -->

	<hr class="noscreen" />

	<!-- Menu -->
	<div id="menu" class="box">

		<ul class="box f-right">
			<li><a href="http://www.matrix-edu.com"><span><strong>Visit Site &raquo;</strong></span></a></li>
		</ul>

		<ul class="box">
			<li><a href="/manager/viewuserleave"><span>Leave Manager</span></a></li> 
                        <li><a href="/manager/viewtraining"><span>Training Manager</span></a></li> 
                        <li><a href="/manager/viewappraisals"><span>Appraisal Manager</span></a></li> 
                        <li><a href="/manager/pay"><span>Payment Manager</span></a></li> 
                        <li><a href="/manager/viewprojects"><span>Project Manager</span></a></li> 
                        <li><a href="/report/index"><span>Report Manager</span></a></li> 
                    <li><a href="/manager/changemypassword"><span>Change Password</span></a></li> 
 
	

		</ul>

	</div> <!-- /header -->

	<hr class="noscreen" />

	<!-- Columns -->
	<div id="cols" class="box">

		<!-- Aside (Left Column) -->
		<div id="aside" class="box">

			<div class="padding box">

				<!-- Logo (Max. width = 200px) -->
				<p id="logo"><a href="#"><img src="/tmp/logo.gif" alt="Our logo" title="Visit Site" /></a></p>

				<!-- Search -->
				<form action="#" method="get" id="search">
					<fieldset>
						<legend>Search</legend>

						<p><input type="text" size="17" name="" class="input-text" />&nbsp;<input type="submit" value="OK" class="input-submit-02" /><br />
						<a href="javascript:toggle('search-options');" class="ico-drop">Advanced search</a></p>

						<!-- Advanced search -->
						<div id="search-options" style="display:none;">

							<p>
								<label><input type="checkbox" name="" checked="checked" /> Option I.</label><br />
								<label><input type="checkbox" name="" /> Option II.</label><br />
								<label><input type="checkbox" name="" /> Option III.</label>
							</p>

						</div> <!-- /search-options -->

					</fieldset>
				</form>

                        
			</div> <!-- /padding -->

			<ul class="box">
				
			</ul>

		</div> <!-- /aside -->

		<hr class="noscreen" />

		<!-- Content (Right Column) -->
		<div id="content" class="box">

			        <?php echo $this->layout()->content; ?>

		</div> <!-- /content -->

	</div> <!-- /cols -->

	<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer" class="box">

		<p class="f-left">&copy; 2011 <a href="#">Gayan Lorenzu Hewa</a>, All Rights Reserved &reg;</p>
                
		<p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>

	</div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
    
    
    
    
    
    