<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

    <head>
        <title>MatrixERP</title>
        <meta name="author" content="Gayan Lorenzu Hewa" />
        <LINK REL=StyleSheet HREF="/style.css" TYPE="text/css" MEDIA=screen>
        <LINK REL=StyleSheet HREF="/css/table/style.css" TYPE="text/css" MEDIA=screen>        
        <!--LINK REL=StyleSheet HREF="/zend_form.css" TYPE="text/css" MEDIA=screen-->        
        <link rel="stylesheet" type="text/css" href="/css/cupertino/jquery-ui-1.8.14.custom.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
        <script type="text/javascript" src="/js/jquery-1.4.4.js"></script>
            <script type="text/javascript" src="/js/jquery-print.js"></script>
        <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.7.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>
        <script type="text/javascript" src="/js/custom/manager.js"></script>
        <script type="text/javascript" src="/js/DataTables/media/js/jquery.dataTables.min.js"></script>
         <script type="text/javascript" src="/js/DataTables/media/css/demo_table_jui.css"></script>
         <link rel="stylesheet" type="text/css" href="/css/dt/css/demo_table_jui.css" />
           <script type="text/javascript" src="/js/amcharts/flash/swfobject.js"></script>
        
        <!-- following scripts required for JavaScript version. The order is important! -->
        <script type="text/javascript" src="/js/amcharts/javascript/amcharts.js"></script>
        <script type="text/javascript" src="/js/amcharts/javascript/amfallback.js"></script>
        <script type="text/javascript" src="/js/amcharts/javascript/raphael.js"></script>

    </head>

    <body>
        <div id="menulinks">          
            <a href="/manager/viewuserleave"><span>Leave Manager</span></a>
            <div class="menuline"></div>
            <a href="/manager/viewtraining"><span>Training Manager</span></a>
            <div class="menuline"></div>
            <a href="/manager/viewappraisals"><span>Appraisal Manager</span></a>
            <div class="menuline"></div>
            <a href="/manager/pay"><span>Payment Manager</span></a>
            <div class="menuline"></div>
            <a href="/manager/viewprojects"><span>Project Manager</span></a>
            <div class="menuline"></div>                   
            <a href="/report/index"><span>Report Manager</span></a>
            <div class="menuline"></div>                   
            <a href="/manager/changemypassword"><span>Change Password</span></a>                    
            <div class="menuline"></div>                   
            <a href="/auth/logout"><span>Logout</span></a>                        
        </div>

        <div id="body2">
            <div id="page">


                <div id="header">
                    <h1><a href="http://www.matrix-edu.com">Matrix Institute of Information Technology</a></h1>
                    <div class="description">Professionalism Trough Quality</div>

                </div>

                <div id="mainarea">
                    <div id="contentarea">

                        <?php echo $this->layout()->content; ?>
                    </div>
                </div>

                <div id="footer">
                    <a href="http://www.gayanhewa.info/" target="_blank">Developed by Gayan Lorenzu Hewa</a>
                </div>


            </div>
        </div>

        <?php include('flash.php'); ?>
    </body>

</html>