<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/reset.css" /> <!-- RESET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/main.css" /> <!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
	<link rel="alternate stylesheet" media="screen,projection" type="text/css" href="/css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
	<!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="/css/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/style.css" /> <!-- GRAPHIC THEME -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="/css/custom-theme/jquery-ui-1.8.14.custom.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.cleditor.css" />
        <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>
        <script type="text/javascript" src="/js/switcher.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$(".tabs > ul").tabs();        
                $(function() {
                    $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                });
        	        //Cleditor
	        $("#input").cleditor({
                    controls:     // controls to add to the toolbar
                    "undo redo | " +
                        " | cut copy paste pastetext | print source",
		        })
		    
	});
	</script>
	<title>MatrixERP</title>
</head>


<body>
<div>
<div id="content" class="box">

			        <?php echo $this->layout()->content; ?>

		</div> <!-- /content -->

</div> <!-- /main -->

</body>
</html>
    
    
    
    
    
    