<?php
    $eval = $this->eval;
?>
<table id="box-table-b">
    <tr><td><label>Date</label></td><td><?php echo $eval['date'];?></td></tr>
    <tr><td><label>Comment</label></td><td><?php echo $eval['comment'];?></td></tr>
 
</table>
