<a href="/manager/viewprojects" class="back"></a>


<table id="box-table-b">
    <tr>
        <th>Start Date</th>

        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
        

    <tr/>
    <?php foreach($this->projects as $proj):?>
        <tr>
        <td><?php echo $proj['start_date'];?></td>

        <td><?php echo $proj['title'];?></td>
        <td><?php echo isset($proj['status'])?$proj['status'].'%':"0%";?></td>
         <td>
                <a href="/manager/viewprogressreports/id/<?php echo $proj['id']?>">Progress Reports</a> | <a href="/manager/evaluate/id/<?php echo $proj['id']?>">Evaluate</a>
                
     
                

         </td>

  

    <?php endforeach;?>
</table>

