
<h1>Salary Review</h1>

<h3 class="tit">Staff List</h3>

<table id="box-table-b">
    <thead>
    
        <th>Staff ID</th>
        <th>Full Name</th>
        <th>Salary</th>
        <th>Date</th>
        <th>Action</th>
    <thead/>
    <?php foreach ($this->user as $user): ?>
    <tbody>
        <tr>
            <td><?php echo $user['staffid'];?></td>
            <td><?php echo $user['full_name'];?></td>
            <td><?php echo isset($user['salary'])?$user['salary']:"-";?></td>
            <td><?php echo isset($user['date'])?$user['date']:"-";?></td>
            <td>
                <a href="/manager/payhistory/id/<?php echo $user['staffid'];?>" class="more">More</a>

            </td>
        <tr/>
    </tbody>
    <?php endforeach; ?>
    </table>

<?php
//        echo $this->paginationControl($this->leaves,
//                'Sliding',
//                'manager/pagination.phtml');
?>
