
<h1>P3 review</h1>
<h3>Staff List</h3>
<p id="btn-create" class="box"><a href="/manager/addpayhike/id/<?php echo $this->id;?>"><span>Add</span></a></p> 
<table id="box-table-b">
    <thead>

        <th>Staff ID</th>
        <th>Full Name</th>
        <th>Salary</th>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>

    <thead/>
    <?php foreach ($this->user as $user): ?>
    <tbody>
        <tr>
            <td><?php echo $user['staffid'];?></td>
            <td><?php echo $user['full_name'];?></td>
            <td><?php echo $user['salary'];?></td>
            <td><?php echo $user['date'];?></td>
            <td><?php echo ($user['active']==1)?"Active":"Inactive";?></td>
            <td>
                
                <a href="/manager/removepay/id/<?php echo $user['id'];?>/sid/<?php echo $user['staffid'];?>" class="remove">Remove</a>
            </td>
        <tr/>
    </tbody>
    <?php endforeach; ?>
    </table>


<?php
//        echo $this->paginationControl($this->leaves,
//                'Sliding',
//                'manager/pagination.phtml');
?>
