<h1>Staff Appraisal</h1>
</br>
<table id="box-table-b">
    <thead>
        <th>Staff ID</th>
        <th>Segment Title</th>
        <th>Description</th>
        <th>Comment</th>
        <th>Self Rating</th>
        <th>Year</th>
    </thead>
    <tbody>
        <?php foreach($this->appraisal as $val):?>
        
        <tr>
            <td><?php echo $val['staffid'];?></td>
            <td><?php echo $val['title']?></td>
            <td><?php echo $val['desc']?></td>
            <td><?php echo $val['comment']?></td>
             <td><?php echo $val['self_rating']?></td>
              <td><?php echo $val['year']?></td>

        </tr>
        <?php endforeach;?>
    </tbody>

</table>


<h2>Managers Comments</h2>
<table id="newspaper-a">
    <thead>
        <th>Staff ID</th>
        <th>Comment</th>
        <th>Manager Rating</th>
        <th>Date</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <?php foreach($this->mgr_comment as $val):?>

        <tr>
            <td><?php echo $val['staffid'];?></td>
            <td><?php echo $val['managers_comment']?></td>
            <td><?php echo $val['rating']?></td>
            <td><?php echo $val['comment_date']?></td>

        <td>

          
             <a href="/manager/removecomment/id/<?php echo $val['id'];?>/sid/<?php echo $val['staffid'];?>" class="remove">Remove</a>&nbsp;
        </td>


        </tr>
        <?php endforeach;?>
    </tbody>

</table>

<?php

echo $this->paginationControl($this->mgr_comment,
                                    'Sliding',
                                   'manager/pagination.phtml'); ?>

<h3>Add Manager's Comment</h3>
<?php echo $this->form;?>