

<h1>User Training Summery</h1>

<h3 class="tit">Pending Approvals</h3>
<table id="box-table-b">
    <tr>
        <th>Due Date</th>
        <th>Title</th>
        <th>Why they want this </th>
        
    
        <th>Request Date</th>

        <th>Status</th>
        <th>Action</th>
    <tr/>
    <?php foreach($this->trainings as $train):?>
    
        <tr>
        <td><?php echo $train['due_date'];?></td>
        <td><?php echo $train['title'];?></td>
        <td><?php echo $train['reason'];?></td>

        <td><?php echo $train['request_date'];?> </td>

        <td><?php if($train['status']==0){echo "Pending";}else{echo "Approved";}?></td>
        
        <td>
            <a href="/manager/approvetraining/id/<?php echo $train['id'];?>" class="approved">Approve</a>&nbsp;|&nbsp;
            <a href="/manager/rejecttraining/id/<?php echo $train['id'];?>" class="reject">Reject</a>&nbsp;|
             <a href="/manager/removetraining/id/<?php echo $train['id'];?>" class="remove">Remove</a>&nbsp;
        </td>
    <tr/>
    <?php endforeach;?>
</table>
</br>
<?php

echo $this->paginationControl($this->trainings,
                                    'Sliding',
                                   'manager/pagination.phtml'); ?>



<h3 class="tit">Approved Trainings</h3>
<table id="box-table-b">
    <tr>
        <th>Due Date</th>
        <th>Title</th>
        <th>Why I need this </th>


        <th>Request Date</th>
        <th>Approved Date</th>
        <th>Status</th>
        <th>Action</th>
    <tr/>
    <?php foreach($this->approvedtrainings as $train):?>
        <tr>
        <td><?php echo $train['due_date'];?></td>
        <td><?php echo $train['title'];?></td>
        <td><?php echo $train['reason'];?></td>

        <td><?php echo $train['request_date'];?> </td>
        <td><?php echo $train['approve_date'];?> </td>
        <td><?php if($train['status']==0){echo "Pending";}else{echo "Approved";}?></td>

        <td>
 
            <a href="/manager/rejecttraining/id/<?php echo $train['id'];?>">Reject</a>&nbsp;|
             <a href="/manager/removetraining/id/<?php echo $train['id'];?>">Remove</a>&nbsp;
        </td>
    <tr/>
    <?php endforeach;?>
</table>
</br>
<?php

echo $this->paginationControl($this->approvedtrainings,
                                    'Sliding',
                                    'manager/pagination.phtml'); ?>