<script type="text/javascript">
    function viewreport(projectid,due_date){
       // alert('asd');
        $.ajax({
          url: '/manager/viewprogressreport',
          type:"POST",
          data:({id:projectid,due_date:due_date}),
          success: function(data) {
                        //console.log();
            		$("#dialog-message").html(data).dialog({
			modal: true,
                        resizable: false, 
                        width:"50%"



		});

          }
        });
    }

       

    </script>
        <?php
            $proj = $this->project;
            $progress = $this->progress;

        ?>

<h1>Project Information</h1>
</br>
<a href="/manager/evaluateprojects" class="back"></a> 
<table id="one-column-emphasis">

    <tr>       <th>Project Id</th><td><?php echo $proj['id']; ?></td></tr>
    <tr>  <th>Title</th><td><?php echo $proj['title']; ?></td></tr>
    <tr>   <th>Description</th>          <td><?php echo $proj['desc']; ?></td></tr>
    <tr>      <th>Start Date</th>                 <td><?php echo $proj['start_date']; ?></td></tr>
    <tr>        <th>End Date</th>   <td><?php echo $proj['end_date']; ?></td></tr>
    <tr>        <th>Progress Cycle</th>  <td><?php echo $proj['progress_cycle']; ?></td></tr>
    <tr>
        <th>Assigned To</th>
        <td>
            <?php foreach ($this->assignees as $assigned): ?>
            <?php //print_r($assigned); echo "<hr>";?>
                <ul style="list-style: none">
                    <li><?php echo $assigned['full_name']; ?></li>
                </ul>
            <?php endforeach; ?>
        </td>
    </tr>



</table>
&nbsp;

<h2>Progress Report Due Dates</h2>

<table id="box-table-b">
    <thead>
        <tr>
        <th>Due Date</th>
        <th>Report Status</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <?php
        //Zend_Date::setOptions(array('format_type' => 'php'));
        $date = new Zend_Date();
        $date2 = new Zend_Date();
        
        $date->set(date('Y-d-m',strtotime($proj['start_date'])));
        $date2->set(date('Y-d-m',strtotime($proj['end_date'])));
        $d = $proj['start_date'];
        $cycle = $proj['progress_cycle'];
        $count=0;
        $tolcount=0;
        ?>
        <?php while($date->compareDate($date2)<= 0): ?>
        <?php   $d = $date->addDay($cycle); ?>
          <?php    if($date2->compareDate($d)>=0):?>
            <tr>
              
                <td>
                <?php
                        $tolcount++;
                        echo $d;
                                    
                ?>
                </td>
                <td>
                        <?php $status = "Pending";?>
                        <?php foreach($progress as $prog):?>
                        
                                <?php if($prog['due_date']==date('Y-m-d',$d->get())):?>
                                    <?php $status="Complete";$count++;?>
                                <?php endif;?>
                        <?php endforeach;?>
                        <?php echo $status;?>


                </td>
                <td>
                    
                    <a href="#" onclick="viewreport(<?php echo $proj['id'];?>,<?php echo $d->get();?>);return false;" class="view">View</a>

                </td>
            </tr>
            <?php endif;?>
        <?php endwhile;?>
        <?php

//                   require_once 'ProjectModel.php';
//                   $model = new Model_ProjectModel();
//                   $model->updateStatus($proj['id'],$tolcount,$count);
//                   echo $tolcount . $count;
        ?>
    </tbody>

</table>

<div id="dialog-message"></div>
