<a href="/manager/viewprojects" class="back"></a>

<h1 class="tit">View Projects</h1>

</br>
<?php $proj = $this->project;?>

    <table >


        <tr><th>Project Id</th>
            <td><?php echo $proj['id'];?></td>
        </tr>
        <tr><th>Title</th>
            <td><?php echo $proj['title'];?></td>
        </tr>
        <tr><th>Description</th>
            <td><?php echo $proj['desc'];?></td>
        </tr>
        <tr><th>Start Date</th>
            <td><?php echo $proj['start_date'];?></td>
        </tr>
        <tr><th>End Date</th>
            <td><?php echo $proj['end_date'];?></td>
        </tr>
        <tr><th>Progress Cycle</th>
            <td><?php echo $proj['progress_cycle'];?></td>
        </tr>
        <tr><th>Assigned To</th>
            <td>
                
                  <?php foreach($this->assignees as $assigned):?>
                  
                <div> <?php echo $assigned['full_name'];?><a class="remove"  href="/manager/deassign/id/<?php echo $assigned['id']; ?>"> (Remove)</a></div></br>
                  
                 <?php endforeach;?>                
            </td>
        </tr>
        <tr><th>Action</th>
            <td>              
        
                <a href="/manager/editproject/id/<?php echo $proj['id'];?>/pro/<?php echo $this->pro;?>" class="edit">Update</a> | 
  
                <a href="/manager/removeproject/id/<?php echo $proj['id'];?>" class="remove">Remove</a></td>
      
                     
        </tr>
    
  
</table>