<h1>Projects</h1>
</br>
<table class="nostyle">
    <tr>
        <td><p id="btn-create" class="box"><a href="/manager/createproject"><span>Add</span></a></p> </td>
        <td> <p id="btn-create" class="box"><a href="/manager/evaluateprojects"><span>Evaluate</span></a></p> </td>
    </tr>
</table>
                                        
                                  
                                
                                   


</br>


<table id="box-table-b">
    <tr>
        <th>Start Date</th>

        <th>Title</th>
        
        <th>Actions</th>
        

    <tr/>
    <?php foreach($this->projects as $proj):?>
        <tr>
        <td><?php echo $proj['start_date'];?></td>

        <td><?php echo $proj['title'];?></td>

         <td>
                <a href="/manager/assignproject/id/<?php echo $proj['id']?>" class="add_user">Assign</a>
                | <a href="/manager/viewproject/id/<?php echo $proj['id']?>" class="view">View</a>
                

         </td>

  

    <?php endforeach;?>
</table>

