
<h1>User Leave Summery</h1>
<h3 class="tit">Pending Approvals</h3>
<?php $leave = $this->leaves;
        if(count($leave)>0):
?>
<table id="box-table-b">
    <tr>
        <th>Type</th>
        <th>Reason</th>
        <th>From</th>
        <th>To</th>
        <th>Request Date</th>
      
        <th>Status</th>
        <th>Action</th>
    <tr/>
    <?php foreach($this->leaves as $leave):?>
        <tr>
        <td><?php  
        
        echo ($leave['type']=='A')?'Annual':'';
        echo ($leave['type']=='C')?'Casual':'';
        echo ($leave['type']=='M')?'Medial':'';
        
        
        ?></td>
        <td><?php echo $leave['reason'];?></td>
        <td><?php echo $leave['from'];?></td>
        <td><?php echo $leave['to'];?></td>
        <td><?php echo $leave['request_date'];?> </td>
        
        <td><?php if($leave['status']==0){echo "Pending";}else{echo "Approved";}?></td>
        <td>&nbsp;
           
            <a href="/manager/approveleave/id/<?php echo $leave['id'];?>">Approve</a>&nbsp;|&nbsp;
            <a href="/manager/removeleave/id/<?php echo $leave['id'];?>">Remove</a>&nbsp;</td>
        
    <tr/>
    <?php endforeach;?>
</table>
<?php endif;?>
</br>
<?php

echo $this->paginationControl($this->leaves,
                                    'Sliding',
                                    'manager/pagination.phtml');
?>

<h3 class="tit">Approved Leave's</h3>
<?php $leave = $this->approvedleaves;
        if(count($leave)>0):
?>
<table id="box-table-b">
    <tr>
        <th>Type</th>
        <th>Reason</th>
        <th>From</th>
        <th>To</th>
        <th>Request Date</th>
        <th>Approved Date</th>
        <th>Actions</th>


    <tr/>
    <?php foreach($this->approvedleaves as $leave):?>
        <tr>
        <td><?php  
        
        echo ($leave['type']=='A')?'Annual':'';
        echo ($leave['type']=='C')?'Casual':'';
        echo ($leave['type']=='M')?'Medial':'';
        
        
        ?></td>
        <td><?php echo $leave['reason'];?></td>
        <td><?php echo $leave['from'];?></td>
        <td><?php echo $leave['to'];?></td>
        <td><?php echo $leave['request_date'];?> </td>
        <td><?php echo $leave['approve_date'];?> </td>
             <td>&nbsp;
     
     
            <a href="/manager/rejectleave/id/<?php echo $leave['id'];?>">Reject</a>&nbsp;</td>
         

    <tr/>
    <?php endforeach;?>
</table>

<?php endif;?>
</br>
     <?php

echo $this->paginationControl($this->approvedleaves,
                                    'Sliding',
                                    'manager/pagination.phtml');

?>