<h1>Appraisals</h1>
</br>

<table id="box-table-b">
    <thead>
        <th>Full Name</th>
        <th>Designation</th>
        <th>Actions</th>
    </thead>
    <tbody>
        
        <?php foreach($this->users as $user):?>
        <tr>
        <td><?php echo $user['full_name'];?></td>
        <td><?php echo $user['Title'];?></td>
        <td><a href="/manager/processappraisal/id/<?php echo $user['staffid'];?>" class="appraisal">Appraisal</a></td>
        </tr>
        <?php endforeach;?>

    </tbody>
</table>