<a href="/manager/viewprojects" class="back"></a>
<?php $proj = $this->progress; ?>
<h1 class="tit">Project Progress Report</h1>
<br>
<table >

<tbody>
    <tr>  <th>Title</th><td><?php echo $proj['title']; ?></td></tr>
    <tr>   <th>Comment</th>          <td><?php echo $proj['comment']; ?></td></tr>
    <tr>      <th>Comment Date</th>                 <td><?php echo $proj['comment_date']; ?></td></tr>
    <tr>        <th>Due Date</th>   <td><?php echo $proj['due_date']; ?></td></tr>
</tbody>
</table>




