<h1>My Appraisal</h1>
<p>Self evaluation will help you communicate the managers where you stand in your day to day job role</p>
 <table id="box-table-a">

    <tr>

        <th >Title</th>
        <th width="50%">Description</th>
        <th>Year</th>
        <th >Comment</th>
        <th width="150px">Action</th>
    </tr>
    <?php $comment_id = null; ?>
    <?php foreach($this->obj as $obj):?>
    <tr>

        <td><?php echo $obj['title'];?></td>
        <td><?php echo $obj['desc'];?></td>
                <td><?php echo $obj['year'];?></td>
         <td>

   


         <?php if($this->comment):?>

                 <?php   foreach($this->comment as $comment):?>
                                 
           
                       
                         <?php
                         if($comment["objectiveid"] == $obj['id']){
                             $status = $obj['id'];
                             echo $comment['comment'];
                      
                         }

  
                       ?>
   
                 <?php  endforeach;?>

              
          <?php endif; ?>


       
             </td><td>
                 <?php if(!(isset($status)&& ($status==$obj['id']))):?>
             <a href='/user/addcomment/id/<?php echo $obj['id']?>' class="add">Add</a> |
                 <?php endif;?>
                    <a href="/user/editcomment/id/<?php echo $obj['id'];?>" class="edit" >Update</a> |
                    <a href="/user/removecomment/id/<?php echo $obj['id'];?>" class="remove" >Remove</a>
         </td>
      
     
    </tr>
   
    <?php    endforeach;?>
</table>
