
<a href="/user/viewuserleave" class="back"></a>
<h1>Request Leave</h1>
<?php
echo $this->form;

?>
<?php if(isset($this->date_error)): ?>
<script type="text/javascript">

//alert('<?php echo $this->date_error?>');
$(document).ready(function() {

		//$( "#dialog:ui-dialog" ).dialog( "destroy" );

		$( "<h3><?php echo $this->date_error; ?></h3>" ).dialog({
			height: 'auto',
                        width:'auto',
			modal: true,
                        closeOnEscape:true,
                        draggable:false,
                        resizable:false,
                        show:'slide',
                       // open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }

		});



});
</script>
<?php endif;?>