<h1>User Training Summery</h1>

<h3 class="tit">Pending Training's</h3>
<table  class="datat">
    <thead>
    <tr>
        <th>Due Date</th>
        <th>Title</th>
        <th>Why I need this </th>
        
    
        <th>Request Date</th>
        <th>Approved Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->trainings as $train):?>
    <?php if($train['status']==1){continue;}?>        
        <tr>
        <td><?php echo $train['due_date'];?></td>
        <td><?php echo $train['title'];?></td>
        <td><?php echo $train['reason'];?></td>

        <td><?php echo $train['request_date'];?> </td>
        <td><?php echo $train['approve_date'];?> </td>
        <td><?php if($train['status']==0){echo "<div class='pending'>Pending</div>";}else{echo "<div class='active'>Active</div>";}?></td>
        
        <td>
                        <a href="/user/updatetraining/id/<?php echo $leave['id'];?>" class="edit" >Update</a> |
            <a href="/user/removetraining/id/<?php echo $train['id'];?>" class="remove">Remove</a> 

        </td>
    </tr>
    <?php endforeach;?>
    </tbody>
</table>

<h3 class="tit">Approved Training's</h3>

<table  class="datat">
    <thead>
    <tr>
        <th>Due Date</th>
        <th>Title</th>
        <th>Why I need this </th>
        
    
        <th>Request Date</th>
        <th>Approved Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->trainings as $train):?>
    <?php if($train['status']==0){continue;}?>
        <tr>
        <td><?php echo $train['due_date'];?></td>
        <td><?php echo $train['title'];?></td>
        <td><?php echo $train['reason'];?></td>

        <td><?php echo $train['request_date'];?> </td>
        <td><?php echo $train['approve_date'];?> </td>
        <td><?php if($train['status']==0){echo "<div class='pending'>Pending</div>";}else{echo "<div class='active'>Active</div>";}?></td>
        
        <td>
                        <a href="/user/updatetraining/id/<?php echo $leave['id'];?>" class="edit" >Update</a> |
            <a href="/user/removetraining/id/<?php echo $train['id'];?>" class="remove">Remove</a> 

        </td>
    </tr>
    <?php endforeach;?>
    </tbody>
</table>

