

        <?php
            $proj = $this->project;
            $progress = $this->progress;

        ?>

<h1>Project Information</h1>
<a href="/user/viewprojects" class="back"></a>
<br/>
<table id="one-column-emphasis">
<colgroup>
    	<col class="oce-first">
    </colgroup>


    <tr>  <th>Title</th><td><?php echo $proj['title']; ?></td></tr>
    <tr>   <th>Description</th>          <td><?php echo $proj['desc']; ?></td></tr>
    <tr>      <th>Start Date</th>                 <td><?php echo $proj['start_date']; ?></td></tr>
    <tr>        <th>End Date</th>   <td><?php echo $proj['end_date']; ?></td></tr>
    <tr>        <th>Progress Cycle</th>  <td><?php echo $proj['progress_cycle']; ?></td></tr>
    <tr>
        <th>Assigned To</th>
        <td>
            <?php foreach ($this->assignees as $assigned): ?>
            <?php //print_r($assigned); echo "<hr>";?>
                <ul style="list-style: none">
                    <li><?php echo $assigned['full_name']; ?></li>
                </ul>
            <?php endforeach; ?>
        </td>
    </tr>



</table>
&nbsp;
<h3 class="tit">Progress Report Due Dates</h3>

<table id="box-table-b" >
    <thead>
        <tr>
        <th>Due Date</th>      
        <th>Report Status</th>
        <th style="width:250px">Actions</th>
        </tr>
    </thead>
    <tbody>

        <?php
        //Zend_Date::setOptions(array('format_type' => 'php'));
        $date = new Zend_Date();
        $date2 = new Zend_Date();
           
        $date->set(date('Y-d-m',strtotime($proj['start_date'])));
        $date2->set(date('Y-d-m',strtotime($proj['end_date'])));
        $d = $proj['start_date'];
        $cycle = $proj['progress_cycle'];


        ?>
        <?php while($date->compareDate($date2)<= 0): ?>
        <?php   $d = $date->addDay($cycle); ?>
         <?php    if($date2->compareDate($d)>=0):?>
            <tr>
                <td><?php echo $d; ?></td>
                <td>
                        <?php $status = "<div class='pending'>Pending</div>";?>
                        <?php foreach($progress as $prog):?>
                                <?php if($prog['due_date']==date('Y-m-d',$d->get())):?>
                                    <?php $status="<div class='active'>Active</div>";?>
                                <?php endif;?>                
                        <?php endforeach;?>
                        <?php echo $status;?>
   

                </td>
                <td>
                    <?php // echo "AA  :". date('Y.m.d',$d->get());?>
                    
                    <a href="/user/addprogressreport/id/<?php echo $proj['id']?>/due_date/<?php echo date('Y.m.d',$d->get());?>" class="add">Add</a> 
                    | <a href="/user/viewprogressreport/due_date/<?php echo date('Y.m.d',$d->get());?>/id/<?php echo $proj['id'];?>" class="view">View</a> 
                    | <a href="/user/editprogressreport/due_date/<?php echo date('Y.m.d',$d->get());?>/id/<?php echo $proj['id'];?>" class="edit">Edit</a> 
                    | <a href="/user/removeprogressreport/due_date/<?php echo date('Y.m.d',$d->get());?>/id/<?php echo $proj['id'];?>" class="remove">Remove</a>
                    
                </td>
            </tr>
            <?php endif;?>
        <?php endwhile;?>
        
    </tbody>

</table>