<?php $proj = $this->progress; ?>
<h1>Project Progress Report</h1>
<br/>
<table id="one-column-emphasis">
<colgroup>
    	<col class="oce-first">
    </colgroup>

    <tr>  <th>Title</th><td><?php echo $proj['title']; ?></td></tr>
    <tr>   <th>Comment</th>          <td><?php echo $proj['comment']; ?></td></tr>
    <tr>      <th>Comment Date</th>                 <td><?php echo $proj['comment_date']; ?></td></tr>
    <tr>        <th>Due Date</th>   <td><?php echo $proj['due_date']; ?></td></tr>

</table>
<a href="/user/viewprojects/id/<?php echo $proj['id'];?>" class="back">Back</a>