     <h1>View Projects</h1>

<table id="box-table-b">
    <tr>
        <th>Start Date</th>

        <th>Title</th>

        <th>Actions</th>


    <tr/>
    <?php foreach($this->projects as $proj):?>
        <tr>
        <td><?php echo $proj['start_date'];?></td>

        <td><?php echo $proj['title'];?></td>

         <td>          
                <a href="/user/viewproject/id/<?php echo $proj['id']?>" class="view">View</a>
         </td>



    <?php endforeach;?>
</table>

