
<h1>User Leave Summery</h1>
<br/>
<a href="/user/requestleave" class="req">Request Leave</a>
<h3>Pending Approvals</h3>
<?php $leave = $this->leaves;
        if(count($leave)>0):
?>
<table id="box-table-b">
    <tr>
        <th>Type</th>
        <th>Reason</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Request Date</th>
        <th>Approved Date</th>
        <th>Status</th>
        <th>Action</th>
    <tr/>
    <?php foreach($this->leaves as $leave):?>
        <tr>
        <td><?php echo $leave['type'];?></td>
        <td><?php echo $leave['reason'];?></td>
        <td><?php echo $leave['from'];?></td>
        <td><?php echo $leave['to'];?></td>
        <td><?php echo $leave['count'];?> </td>
        <td><?php echo $leave['request_date'];?> </td>
        <td><?php echo isset($leave['approve_date'])?"":"<div class='pending'>Pending</div>";?> </td>
        <td><?php if($leave['status']==0){echo "<div class='pending'>Pending</div>";}else{echo "<div class='active'>Active</div>";}?></td>
        <td>&nbsp;<a href="/user/updateleave/id/<?php echo $leave['id'];?>" class="edit">Update</a>&nbsp;</td>
    <tr/>
    <?php endforeach;?>
</table>

<?php endif;?>
<hr>
<h3>Approved Leave's</h3>
<?php $leave = $this->approvedleaves;
        if(count($leave)>0):
?>

<table class="datat">
    <thead>
        <tr>
        <th scope="col">Type</th>
        <th scope="col">Reason</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Request Date</th>
        <th scope="col">Approved Date</th>
        </tr>
    </thead>
    <tbody>
        
    <?php foreach($this->approvedleaves as $leave):?>
        <tr>
        <td><?php echo $leave['type'];?></td>
        <td><?php echo $leave['reason'];?></td>
        <td><?php echo $leave['from'];?></td>
        <td><?php echo $leave['to'];?></td>
        <td><?php echo $leave['request_date'];?> </td>
        <td><?php echo $leave['approve_date'];?> </td>

        </tr>
    <?php endforeach;?>
    </tbody>
</table>

<?php endif;?>