<h1>My Profile</h1>




<div id="pis">
    <h3 class="tit">Personal Information</h3>

    <table id="one-column-emphasis">
        <colgroup>
    	<col class="oce-first">
    </colgroup>
        <?php $pis = $this->pis; ?>
            <tr>
                <th>Full Name</th><td><?php echo $pis['full_name']; ?></td>
            </tr>
            <tr>
                <th>Staff ID</th><td><?php echo $pis['staffid']; ?></td>
            </tr>
            <tr>
                <th>NIC</th><td><?php echo $pis['nic']; ?></td>
            </tr>
            <tr>
                <th>Date of Birth</th><td><?php echo $pis['date_of_birth']; ?></td>
            </tr>
            <tr>
                <th>Nationality</th><td><?php echo $pis['nationality']; ?></td>
            </tr>
            <tr>
                <th>Marital Status</th><td><?php echo ($pis['marital_status']=='m')?"Married":"Single"; ?></td>
            </tr>
            <tr>
                <th>Actions</th><td>    <a href="/user/updateuserinfo/type/pis" class="edit">Update</a></td>
            </tr>
        </table>

    </div>
<div id="form_pis" style="display:none">
<?php echo $this->form_pis;?>
</div>

<div id="contact">
        <h3 class="tit">Contact Information</h3>
        

                <table id="rounded-corner">

                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile Phone</th>
                        <th scope="col">Residence Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Actions</th>
                    </tr>
            <?php foreach($this->contact as $contact): ?>
                        <tr>
                            <td><?php echo $contact['email']; ?></td>
                            <td><?php echo $contact['mobile_phone']; ?></td>
                            <td><?php echo $contact['residence_phone']; ?></td>
                            <td><?php echo $contact['address']; ?></td>
                            <td><a href="/user/updateuserinfo/type/contact/id/<?php echo $contact['id'];?>" class="edit">Update</a></td>
                        </tr>
          <?php endforeach;?>
        </table>
        </br>
         <p id="btn-create" class="box"><a href="/user/adduserinfo/type/contact"><span>Add Contact Details</span></a></p>             
</div>


<div id="form_contact" style="display:none">
        <?php echo $this->form_contact;?>
</div>

<div id="e_contact">
            <h3 class="tit">Emergency Contact Information</h3>
            
                 
            <table id="rounded-corner">

                <tr>
                    <th>Full Name</th>
                    <th>Relationship</th>
                    <th>Contact No</th>
                    <th>Action</th>
                </tr>
            <?php foreach ($this->e_contact as $contact): ?>
                <tr>
                    <td><?php echo $contact['full_name']; ?></td>
                    <td><?php echo $contact['relationship']; ?></td>
                    <td><?php echo $contact['contact_no']; ?></td>
                    <td><a href="/user/updateuserinfo/type/e_contact/id/<?php echo $contact['id'];?>" class="edit">Update</a></td>
                </tr>
            <?php endforeach; ?>
            </table>
            </br>
                 <p id="btn-create" class="box"><a href="/user/adduserinfo/type/e_contact"><span>Add Emergency Contact</span></a></p>
</div>
<div id="form_e_contacts" style="display:none">
<?php echo $this->form_e_contacts;?>
</div>


<div id="dependents">
            <h3 class="tit">Dependent Information</h3>
          
                     
            <table id="rounded-corner">

                <tr>
                    <th>Full Name</th>
                    <th>Relationship</th>
                    <th>Date of Birth</th>

                    <th>Actions</th>
                </tr>
            <?php foreach ($this->dependents as $depen): ?>
                <tr>
                    <td><?php echo $depen['full_name']; ?></td>
                    <td><?php echo $depen['relationship']; ?></td>
                    <td><?php echo $depen['date_of_birth']; ?></td>

                    <td><a href="/user/updateuserinfo/type/dependents/id/<?php echo $contact['id'];?>"class="edit">Update</a></td>
                </tr>
            <?php endforeach; ?>
            </table>
            </br>
    <p id="btn-create" class="box"><a href="/user/adduserinfo/type/dependentst"><span>Add Dependents</span></a></p>
</div>
<div id="form_dependents" style="display:none">
<?php echo $this->form_dependents;?>
</div>

<div id="qual">
            <h3 class="tit">Acedemic Qualifications</h3>
       
                 
            <table id="rounded-corner">

                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Actions</th>
                </tr>
            <?php foreach ($this->qual as $qual): ?>
                <tr>
                    <td><?php echo $qual['type']; ?></td>
                    <td><?php echo $qual['institution']; ?></td>
                   <td><a href="/user/updateuserinfo/type/qual/id/<?php echo $contact['id'];?>" class="edit">Update</a></td>

                </tr>
            <?php endforeach; ?>
            </table>
        
        </br>
    <p id="btn-create" class="box"><a href="/user/adduserinfo/type/qual"><span>Add Qualifications</span></a></p>        
</div>

<div id="form_qual" style="display:none">
<?php echo $this->form_qual;?>
</div>
